.THIS html{
  overflow: scroll;
   -webkit-overflow-scrolling: touch;
   -webkit-transform: translateZ(0px);

}
.THIS a {
    text-decoration: none !important;
}

.THIS br {
    line-height: 1;
}

.THIS.forceHeaderLayout {
    position: relative;
    width: 100%;
    height: 2.75rem;
    text-align: center;
    z-index: 10000;
}

.THIS .forcePageBlockSectionRow{
   margin: 10px;
}

.THIS .slds-box {
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid rgba(0, 112, 210, 0.3);
    background-color: rgba(152, 47, 71, 0.02);
}

.THIS .uiBlock {
    overflow: hidden;
    vertical-align: top;
}

.THIS .slds-button_neutral, .THIS .slds-button--neutral{
      width: 100%;
}

.THIS .slds-button--inverse{
  color: black;
  background-color: white;
}

.THIS .slds-icon-utility-close{
    display: inline-block;
    border-radius: .25rem;
    background-color: black;
}

.THIS .slds-modal__close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: -1.5rem;
    right: -.5rem;
}

.THIS .slds-text-heading_medium, .THIS .slds-text-heading--medium {
    font-weight: 200;
    font-size: 19px;
    line-height: 1.25;
}

.THIS.slds-required {
    color: rgb(194, 57, 52);
    margin: 0.125rem;
}

.THIS.slds-size_1-of-1, .THIS.slds-size--1-of-1 {
    width: 100%;
    margin-top: 10vh;
}


.THIS .slds-textarea {
   wrap:hard;
   font-size: 16px;
}

.THIS input {
    width: 100%;
    padding: 8px;
    border: solid 1px #dddddd;
    -webkit-appearance: none;
}

.THIS .slds-input {
    line-height: 1rem;
    min-height: 2rem;
}

.THIS .lightningTextarea textarea{
    height:100px;
    -webkit-overflow-scrolling: touch;

}

.THIS .sWrapTest {
    height:100%;
    width:100%;
}