.OPENED{
    background-color: #0000b3;
    font-weight:bold; 
    color: #efefef;
    font-size:12px
  }
  
  .PENDINGAPPROVAL{
    background-color: #40367c;
    font-weight:bold; 
    color: #efefef;
    font-size:12px
  }
  
  .AUTHORIZED{
    background-color: #2db92d;
    font-weight:bold; 
    color: #efefef;
    font-size:12px
  }
  
  .REJECTED{
    background-color:#811818;
    font-weight:bold; 
    color: #efefef;
    font-size:12px
  }
  
  .INPROGRESS{
    background-color: #006DCC;
    font-weight:bold; 
    color: #efefef;
    font-size:12px
  }
  
  
  .COMPLETED{
    background-color: #4BCA81;
    font-weight:bold; 
    color: #efefef;
    font-size:12px
  }
  
  
  .CHANGEFAILED{
    background-color: #c23934;
    font-weight:bold; 
    color: #efefef;
    font-size:12px
  }
  
  .CLOSED{
    background-color: #2F4F4F;
    font-weight:bold; 
    color: #efefef;
    font-size:12px
  }
  
  .CANCELLED{
    background-color: #2F4F4F;
    font-weight:bold; 
    color: #efefef;
    font-size:12px
  }

  .moratoriumToast {  	
    --slds-c-alert-color-background : #5de2c5;	
    color: rgb(15, 12, 12);	
    --sds-c-icon-color-foreground-default: black;	
  }	

  .blackoutToast{	
    --sds-c-alert-color-background : rgb(146, 146, 146);	
    --sds-c-icon-color-foreground-default: rgb(63, 60, 60);	
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
    .so-hide{
      display: none;
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    .so-hide{
      display: block;
    }
  }