.slds-modal__container{
    max-width: 40rem 50rem
 }
 .search-result_left-pad{
     padding-left: 35px !important;
 }
 .slds-box{
     border: 4px solid rgba(0, 255, 115, 0.884);
 }
   
 
 .slds-modal__content{
     padding: 1rem 0;
     height: 60%;
     overflow:hidden;
 }

 .dynamic{
    height: 500px;
 }