.table th {
	position: -webkit-sticky;
	position: sticky;
	white-space: nowrap;
	top: 0;
	border: 1.5px solid #dddddd;
	text-align: left;
	border-radius: 0.15rem;
	padding: 5px 5px 5px 5px;
	color: #0070d2;
}
.table td {
	border: 1px solid #dddddd;
	text-align: left;
	border-radius: 0.15rem;
	padding: 2px 2px 2px 2px;
}
.table {
	width: 100%;
    table-layout: fixed;
    z-index: 10;
}
.ltxtcolor {
	color: #0070d2 !important;
}