.cases{
    overflow: scroll;
    text-align: left;
    padding: 1rem;
    border-left: 1px solid #d8dde6;
}

.casecomments{
    overflow: scroll;
    text-align: left;
    padding: 1rem;
    border-left: 1px solid #d8dde6;
}

.caseswithIdMatch{
    overflow: scroll;
    text-align: left;
    padding: 1rem;
    border-left: 1px solid #d8dde6;
}

h2 {
    font-size: 16px;
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(212, 212, 212));
}

.non-heading{
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(212, 212, 212));
  }

td,th{
    padding: 6px;
}

.customAnchorTag{
    color: #006DCC; 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.descriptionLimit{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding-left: 20px;
    
}

.descriptionLimitComments{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding-left: 20px;
    background: #F3F2F2;
    border-radius: 6px 6px 6px 0px;
    margin: 4px 0px;
    width: fit-content;
}

.highlight {
    background-color: yellow;
}

.fieldTitle{
    font-style: normal;
    font-weight: 700;
    padding-left:20px;
}

.fieldValue{
    font-style: italic;
    font-weight: 400;
    padding-right:10px;
}

.customSelect select {
    padding-right: 1.25rem;
    min-height: inherit;
    line-height: normal;
    height: 1.4rem;    
}
.customSelect label {
    margin-top: .1rem;
}
.customSelect .slds-select_container::before {
    border-bottom: 0;
}
.customInput {
    width: 3rem;
    height: 1.4rem;
    text-align: center;
    border: 1px solid #dddbda;
    border-radius: 3px;
    background-color:#fff;
}

.title{
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: left;

}

.resultText{
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    border-bottom-color: rgb(221, 219, 218);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.resultValue{
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}