.THIS .sla-top-margin{

    margin-top: -1%;
}
.THIS ul li{
  width: auto;
  float: left;
}
.THIS .custom-link{
	    vertical-align: bottom;
    color: inherit;
}


.THIS .custom-marging-left1em{

}

.THIS  float-left{
     float: left;
}

.THIS .Style-Inc{
    background-color: #00a1df;
    font-weight:bold;
    font-size:14px;
}

.THIS .now{
    display:block;

}

.THIS .slideMe:hover .now{
    display: block;

}
.THIS .slideMe:hover .priority{
    display: none;

}


.THIS .Style-SR{
    background-color: #00a1df;
    font-weight:bold;
    font-size:14px
}

.THIS .status{
    background-color: rgb(255, 183, 93);

}


.THIS .Style-VIP{
    background-color: #e0e5ee;
    font-weight:bold;
    font-size:14px;
	color:#c23934

}

.THIS .isVipUser{
  	background-color: rgb(166, 26, 20);
	color:white;
}



.THIS .Style-Status--Assigned{
    background-color: #e0e5ee;
    font-weight:bold;
    color: #efefef;
    font-size:14px
}

.THIS .Style-Status--Waiting{
    background-color: #e0e5ee;
    font-weight:bold;
    color: #c23934;
    font-size:14px

}

/* Below are the staus specific css values */


.THIS .RESOLVED{
    color: white;
    background-color: rgb(4, 132, 75);
}
.THIS .CLOSED{
    color: white;
    background-color: rgb(4, 132, 75);
}

.THIS .CANCELED{
    color: white;
    background-color: rgb(4, 132, 75);
}
.THIS .UNASSIGNED{
    color: white;
    background-color: rgba(194, 57, 52, 0.95);
}
.THIS .REASSIGNED{
    color: white;
    background-color: rgba(194, 57, 52, 0.95);
}
.THIS .REOPENED{
    color: white;
    background-color: rgba(194, 57, 52, 0.95);
}
.THIS .ASSIGNED{
    color: white;
    background-color: rgb(0, 95, 178);
}
.THIS .CANCELED{
    color: white;
    background-color: rgb(4, 132, 75);
}



/* Below are the priority specific css values */

.THIS .priority{
    background-color: #efefef;
}
.THIS .P1{
    color: white;
    background-color: rgba(194, 57, 52, 0.95);
}
.THIS .P2{
    background-color: rgb(255, 183, 93);

}
.THIS .P3{
    color: white;
    background-color: rgb(0, 95, 178);

}
.THIS .P4{
    color: white;
    background-color: rgb(4, 132, 75);
}
.THIS .High{
    color: white;
    background-color: rgba(194, 57, 52, 0.95);
}
.THIS .Standard{
    color: white;
    background-color: rgb(0, 95, 178);

}

.THIS .Low{
    color: white;
    background-color: rgb(122, 171, 255);

}

.THIS .Style-Default{


    font-weight:bold;
    font-size:1em;
}

.THIS .category{

    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}


.THIS .hasProb{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .hasCR{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .hasAttachments{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .isChild{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .isAPITicket{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .isParent{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .hasTask{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .owner{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .ccInfo{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .totalEffort{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .categoryTree{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}

.THIS .incidentNumber{
    color: black;
    background-color: rgba(152, 165, 186, 0.44);
}
.THIS .Style-Owner{
    font-weight:bold;
    font-size:14px;
    background-color:#ffb75d;
    /*color:#ffb75d;*/
    opacity:1;
  transition:opacity 0.5s linear;
}

.THIS .CustomLabel{
    font-size:8px !important;
    background-color:#ffb75d !important;
    opacity:0;
    color:#ffffff !important;
  transition:opacity 0.5s linear !important;}

.THIS .CustomLabel:hover{
    font-size:8px !important;
    background-color:#ffb75d !important;
    opacity:1;
    color:#ffffff !important;
  transition:opacity 0.5s linear !important;
}

.THIS .Style-Heading--Incident{
    font-weight:bold;
    font-size:18px;
    color:black;
}

.THIS .Style-Heading--SR{
    font-weight:bold;
    font-size:18px;
    color:#00a1df
}

.THIS .margin-top3{
    margin-top : -3em;
}



.THIS .toggle {
   display: none;
 }





.THIS .tooltip {
    margin-top: 2em;
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.THIS .tooltip .tooltiptext {

    visibility: hidden;

    width: 400px;
    /*background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

     Position the tooltip */
    position: absolute;
    z-index: 10;

}

.THIS .liPadding{
    padding-bottom : 1em;
}

.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
}

.THIS .tooltip .tooltiptext1::after {

    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}