th.style-Green.THIS {
    border: 1px solid green !important;
}
.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 80px;
}
h2 p{
    float : left;
}
.buttonDiv{
    width: 20%;
}
.dt-outer-container{
    border-top: 1px solid #dddbda;
}
hr{
    margin-bottom: 15px;
    margin-top: 20px;
}
.THIS .testTable thead th span {
    background-color: #16325c;
    color: white;
}
/*.THIS .slds-spinner_container  {
    background-color: rgba(0, 0, 0, 0.10);
    margin-top: 200px;
    margin-bottom: 200px; 
}*/