/*Customer Community Component*/
.THIS .changeCenterPanel {
    text-align: left;
    min-width: 280px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    position: relative;
    font-family: Lato;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
    max-width: 75% !important;
}
.THIS.main-article{
    width: 60rem;
    margin-left: -20rem;
    padding-left: 11rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
    border-width: 0px;
    color: rgb(0, 41, 102);
    background-color: transparent !important;
}
.THIS.main-article-guest-login{
    width: 62rem;
    margin-left: -20rem;
    padding-left: 11rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    border-width: 0px;
    background-color: transparent !important;
    color: rgb(0, 41, 102);
    
}
.THIS div.login-link{
    width: 18rem !important; 
    color: rgb(0, 41, 102);
}
.THIS a.anchor{
    color: #000000;
}
.THIS div.login-link:hover {
    color:#0297d7;
    text-decoration: underline !important;
}

.THIS div.article-header{
    text-align: center;
}
.THIS div.article-body{
    text-align: justify;
}