.THIS .slds-accordion__summary
{
   background-color: #205675;
    color:white;
}

.THIS .slds-accordion__summary
{
     background-image: linear-gradient(to right, #017096,#26D0CE ); 
     background-color: #69BA6D;
    color:white;
    padding-top: 8px;
    padding-bottom:8px;
}
.THIS .slds-button:hover, .THIS .slds-button:focus
{
    color:white;
}
.THIS .slds-icon-text-default
{
    fill:white;
}