.P1 {
  color: white;
  background-color: rgba(194, 57, 52, 0.95);
}
.P2 {
  background-color: rgb(255, 183, 93);
}
.P3 {
  color: white;
  background-color: rgb(0, 95, 178);
}
.P4 {
  color: white;
  background-color: rgb(4, 132, 75);
}
.High {
  color: white;
  background-color: rgba(194, 57, 52, 0.95);
}
.Standard {
  color: white;
  background-color: rgb(0, 95, 178);
}

.Low {
  color: white;
  background-color: rgb(122, 171, 255);
}

.RESOLVED {
  color: white;
  background-color: rgb(4, 132, 75);
}
.CLOSED {
  color: white;
  background-color: rgb(4, 132, 75);
}

.CANCELED {
  color: white;
  background-color: rgb(4, 132, 75);
}
.UNASSIGNED {
  color: white;
  background-color: rgba(194, 57, 52, 0.95);
}
.REASSIGNED {
  color: white;
  background-color: rgba(194, 57, 52, 0.95);
}
.REOPENED {
  color: white;
  background-color: rgba(194, 57, 52, 0.95);
}
.ASSIGNED {
  color: white;
  background-color: rgb(0, 95, 178);
}
.CANCELED {
  color: white;
  background-color: rgb(4, 132, 75);
}

.Style-VIP {
  background-color: #e0e5ee;
  font-weight: bold;
  font-size: 14px;
  color: #c23934;
}

.isVipUser {
  background-color: rgb(166, 26, 20);
  color: white;
}