.summaryDashboard 
{
    font-size: 14px !important;
    padding: 10px !important;
    padding-left: 4px !important;
}

.red
{
    color: #ef6e65;
    border-radius: 3px;
}

.yellow
{
    color: #ffffff;
    background: #e69d2f;
    border: 0px;
    border-radius: 3px;
}
  
.green
{
    color: #ffffff;
    background: #107d18;
    border: 0px;
    border-radius: 3px;
}