.specialMoratorium {
    background-color: var(--sds-c-header-color-background, #d1f2eb);
}

.specialBlackout {
    background-color: var(--sds-c-header-color-background, rgb(171, 178, 185));
}

.blackoutIcon {
    background-color: var(--sds-c-icon-color-background, rgb(171, 178, 185));
}

.moratoriumIcon {
    background-color: var(--sds-c-icon-color-background, rgb(128, 128, 128) );
    --sds-c-icon-color-foreground : #d1f2eb ;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .so-popover{
        position: absolute;
        top: 3em;
        left: -313%;
        width: 80%;
        min-width: 232px;
    }
  }
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
    .so-popover{
        position:absolute;
        top:3em;
        left:-500%;
        width:100%;
        min-width:350px;

    }
 }