.THIS .badge:hover
{
    background-color:red
}
.THIS .slds-theme_shade
{
    background-color: #f4f4f4;
    padding: 0rem;
}
.THIS .printCls{
    /*color:#ff9933;*/
}
.THIS .masterEditCls{
    color:white;
    background-color: #ff9933;
    border-radius: 50px;
}
.THIS .printCls svg {
    fill:#ff9933;
}
.THIS .slds-truncate{
    white-space:normal;
}