.THIS{}

.THIS .label-hidden > label {
    display: none;
}


.THIS .rightAlign{
    text-align: right;
}
	
.THIS td .slds-truncate {
    white-space: normal!important;
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
}


.THIS .leftAlign button {
    text-align: left !important;
}