.THIS {
}

.THIS .editIcon svg{
    fill: #0bbbae !important;
}

.THIS .delIcon svg{
    fill: #ec6874 !important;
}

.THIS .warningIcon svg{
    fill: #ffa500 !important;
}


.THIS .mobile svg{
    fill: #00b1a4 !important;
}

.THIS .phone svg{
    fill: #ec6774 !important;
}

.THIS table { 
    table-layout: fixed; 
}
.THIS .cell-content{ 
    overflow: hidden; 
    max-width: 100%; 
    /* text-overflow: ellipsis; */
    white-space: normal !important;
}

.THIS thead tr th {
    background: rgb(28, 88, 115)!important;
    color:white !important;
}

.THIS .sectionHeading{
    font-size: 0.9rem;
    font-weight: bold;
}