.THIS .margin-top{
        
}

.THIS .custom-background-color{
    background-color:white;
}

.THIS .section { 
	position: relative;
  border: 1px solid #000;
  padding-top: 37px;
  background: #500;
}
.THIS .staticHead{
    position:static;
}

.THIS .tableMargin{
        margin-top: -1.4em;
    height: 0;
}

/* Let's get this party started */
/*
.THIS ::-webkit-scrollbar {
    width: 12px;
}
 
*/
/* Track */
/*.THIS ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
*/ 
/* Handle */
/*.THIS ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.THIS ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
*/
.THIS .fixHead{
  position:absolute;
  top:0;
  width:inherit;
  margin-left: -0.7926em;;
}

.THIS .th{
    height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}

.THIS .thdiv{
     position: absolute;
  background: transparent;
  color: #fff;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  border-left: 1px solid #800;
}

.THIS btest{
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;
}
.THIS .custom-inputSelect {
    width: 200px;
    display: inline;
}

.THIS .custom-table{

}
.THIS .row_select {
    background-color:rgb(201, 199, 197);
}

.THIS .no_of_records {
    width: 50px;
    display: inline;
}
.THIS .custom-anchor {
    cursor: pointer;
}
.THIS .slds-badge--vip {
    background-color: #c23934;
    font-size: 12px;
    color: #ffffff;
	border-radius: 15px;
    padding:2px;
}
.THIS .outerScroller {
    height: 100px;
    width: 100px
}
.THIS .custom-cursor {
    cursor: context-menu;
}

.THIS .width100 {
        width:100%
}



.THIS .hd-custom-priority-ticket {
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.15);
    /*background-color: rgba(21, 137, 238, 0.34);*/
    background-color: rgba(89, 89, 89, 0.34);
    /* color: rgba(206, 31, 31, 0.9); */
    
    animation-name: flashHeader;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes flashHeader {
    0% {
        color: rgba(0, 112, 210, 0.9);
    }
    25% {
        color: rgba(206, 31, 31, 0.9);
    }
    50% {
        color: rgba(0, 112, 210, 0.9);
    }
    75% {
        color: rgba(206, 31, 31, 0.9);
    }
    100% {
        color: rgba(0, 112, 210, 0.9);
    }
    /* background-color:rgba(21, 137, 238, 0.34); */
}
@keyframes vipHeader {
    0% {
        background-color: #c23934;
        color: rgba(206, 31, 31, 0.9);
    }
    25% {
        background-color: rgba(206, 31, 31, 0.9);
        color: #ffffff;
    }
    50% {
        background-color: #c23934;
        color: rgba(206, 31, 31, 0.9);
    }
    75% {
        background-color: rgba(206, 31, 31, 0.9);
        color: #ffffff;
    }
    100% {
        background-color: #c23934;
        color: rgba(206, 31, 31, 0.9);
    }
}
.THIS .slds-badge--vip-animated {
    /* background-color: #c21114; */
    
    font-size: 12px;
    color: #ffffff;
    animation-name: vipHeader;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    padding: .25rem .5rem;
    border-radius: 15rem;
    font-size: .625rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .0625em;
    color: rgb(22, 50, 92);
    vertical-align: middle;
    white-space: nowrap;
}
.THIS .custom-slds-resizable__handle {
    position: absolute;
    right: 0;
    top: 0;
    width: .25rem;
    height: 100%;
    background: rgb(0, 112, 210);
    display: block;
    cursor: col-resize;
    opacity: 0;
    z-index: 5000;
}