/*.THIS .slds-col .ui-widget {
   margin: 16px 0;
}*/

.THIS.bg-info {
    /*Setting navigation color to white from blue*/
    /*background-color: rgb(14, 99, 172) !important;*/
    background-color: white !important;
    box-sizing: border-box !important;
}

.THIS li{
    display: flex;
   	align-self: left;
    display: inline-block !important;
    
    margin-right: 15px !important;
    /* Uncomment below for li tab colors*/
    /*background-color:rgba(25, 124, 190, 0.05);*/
    background-image: linear-gradient(#EEE3E3 5%, #C5DDF0 45%, #B3CEE5 51%);
    color: black;
}

.THIS ul {
    height:500px;
  	overflow-y: scroll;
}

.THIS.navbar-text {
    color: #ffffff !important;
}

/*.THIS .navbar-nav>li>.dropdown-menu { 
    width: 1000px;
}*/

.THIS.dropdown-menu {
    /*background-color: rgb(14, 99, 172) !important;*/
    background-color: white !important;
    min-width: 200px;
}

.THIS .dropdown-menu { 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
    margin-top:0px !important; 
    width:100% !important;
    max-width: 1366px;
} 

.THIS.navDiv {
    /*background-color: rgb(14, 99, 172);*/
    background-color: white;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Work Sans;
    font-size: 13px;
    line-height: 19.5px;
    transform: scale(1);
    transform-origin: 0 0;
}

.THIS.navBar {
    min-height: 48px;
    display: flex;
}

.THIS nav ul {
  display: flex;
  flex: auto ;
  align-items: center;
  vertical-align:middle;
}

.THIS nav ul li{
    display: flex;
   	align-self: center;
    display: inline-block;
    margin-left: 7px; 
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 100%;
}

.THIS .nav-item:hover {
  background-color: #E5F5FA;
}

/*.THIS .nav.navbar li a {
  color: #ffffff !important;
}*/

.THIS li {
 /*background-color:rgb(14, 99, 172) !important;*/
    background-color:white !important;
 text-decoration:none;
    color : black;
}

.THIS .blackItems {
 color:black !important;
}


/*.THIS.li_contaner {
  display: flex;
  flex-direction: row;
}*/