.THIS .custom-height--200px{
		height:150px 
}
.THIS .rightEnd{
    float:right;
}

/* Using this as I cannot change type name for incident object
 */
.THIS .Service{
		height:300px 
}

.THIS .hideMe{
    display:none;
}
.THIS .showMe{
    display:block;
}

.THIS hr{
	margin-top:0em;
	margin-bottom:0em;    
}

.THIS pre{
   font-family: 'Slabo 27px', sans-serif;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.THIS img {
    display: none;
    height: 150px;
}

.THIS .custom-margin-top--m1perc{
    margin-top: -1%;
    /*overflow:hidden*/
}
.THIS .custom-modal-body{
    /*position: relative;
    word-wrap: break-word;
    /*display: table;  
    overflow-y: auto;    
    overflow-x: auto;*/
   
    max-height: 600px;
    position: fixed;
    margin-left: 30%;
    margin-top: 11%;
}

.THIS .custom-show-modal{
    display:block;
}
.THIS .custom-hide-modal{
    display:none;
}
.THIS .custom-title{
    padding-top : 3px;
    height : 40px;
    
}

.THIS .picture-border
{   
    box-shadow:  t(shadowDrag);
}

.THIS .bold-title
{
    font-weight : bold;
}