/* Style the header with a grey background and some padding */
.THIS.header {
	overflow: hidden;
	background-color: white;
	border-bottom: 2px solid rgb(21, 137, 238);
	border-bottom-style: groove;
	padding: 10px 10px;
	margin-bottom: 2px;
	border-radius: 0.25rem;
}

/* Style the header links */
.THIS .header h1 {
	float: left;
	text-decoration: none;
	font-size: 18px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.THIS .header h1.logo {
	font-size: 20px;
}

/* Float the link section to the right */
.THIS .header-right {
	float: right;
	display: inline-block;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
	.THIS .header-right {
		float: none;
	}
}

/* Style the header links */
.THIS.header h1 {
	float: left;
	text-decoration: none;
	font-size: 18px;
	padding-left: 20px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.THIS.header h1.logo {
	font-size: 15px;
	/* font-weight: bold; */
}

/* Float the link section to the right */
.THIS.header-right {
	float: right;
	display: inline-block;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
	.THIS.header-right {
		float: none;
	}
}

.THIS .bgColor {
	background-color: #0070d2;
	border: 1px solid #0070d2;
}

.THIS.bgColor {
	background-color: #0070d2;
	border: 1px solid #0070d2;
}

.THIS .disabled {
	pointer-events: none;
	opacity: 0.5;
	/* background: #ccc; */
}

.THIS.disabled {
	pointer-events: none;
	opacity: 0.5;
	/* background: #ccc; */
}

.THIS .slds-datepicker {
	overflow: scroll;
	height: 14rem;
}

.THIS .sticky-col {
	position: sticky;
	position: -webkit-sticky;
	background-color: white;
}

.THIS .sticky-colhd {
	position: sticky;
	position: -webkit-sticky;
	/* background-color: white; */
}

.THIS .first-col {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	left: 0px;
}

.THIS .second-col {
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	left: 100px;
}

.THIS .view {
	margin: auto;
	max-width: 100%;
	background-color: white;
}

.THIS .wrapper {
	position: relative;
	overflow: auto;
	border: 1px solid white;
	background-color: white;
	border-radius: 0.25rem;
	white-space: nowrap;
	height: 71vh;
	margin-bottom: 4px;
	padding-bottom: 4px;
}

.THIS .table th {
	z-index: 8;
}

.THIS .table th:first-child {
	z-index: 100 !important;
}

.THIS .table td:first-child {
	z-index: 50 !important;
}

.THIS .table th:nth-child(2) {
	z-index: 100 !important;
}

.THIS .table td:nth-child(2) {
	z-index: 50 !important;
}

.THIS .table th {
	position: -webkit-sticky;
	position: sticky;
	white-space: nowrap;
	top: 0;
	border: 1.5px solid #dddddd;
	text-align: left;
	border-radius: 0.15rem;
	padding: 5px 5px 5px 5px;
	color: #0070d2;
}

.THIS .table td {
	border: 1px solid #dddddd;
	text-align: left;
	border-radius: 0.15rem;
	padding: 2px 2px 2px 2px;
}

.THIS.table {
	width: 100%;
	table-layout: fixed;
}

.THIS .table {
	width: 100%;
	table-layout: fixed;
}

.THIS.announcement {
	overflow: hidden;
	background-color: white;
	padding: 5px 5px;
	margin-bottom: 0.5px;
	border-radius: 0.25rem;
	background-color: #ffb75d;
}

.THIS .textSize {
	padding-left: 5px;
	font-size: 13.5px;
}

@media (max-width: 1400px) {
	.THIS .textSize {
		padding-left: 5px;
		font-size: 11px;
	}

	.THIS.textSize {
		padding-left: 5px;
		font-size: 11px;
	}

	.THIS .wrapper {
		position: relative;
		overflow: auto;
		border: 1px solid white;
		background-color: white;
		border-radius: 0.25rem;
		white-space: nowrap;
		height: 69.2vh;
		margin-bottom: 4px;
	    padding-bottom: 4px;
	}

	.THIS.wrapper {
		position: relative;
		overflow: auto;
		border: 1px solid white;
		background-color: white;
		border-radius: 0.25rem;
		white-space: nowrap;
		height: 69.2vh;
		margin-bottom: 4px;
	    padding-bottom: 4px;
	}
}

/* Modal heade */
.THIS nav {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 5px;
	/* color:#0070d2; */
	border-radius: 0.25rem;
 }
 .THIS .links {
	/* font-weight: bold; */
	float: left;
	/* text-align: center; */
	padding: 10px;
	text-decoration: none;
	font-size: 15px;
	line-height: 18px;
 }
 .THIS nav .logo {
	font-size: 15px;
	/* font-weight: bold; */
 }
 .THIS .rightSection {
	float: right;
 }
 @media screen and (max-width: 870px) {
	.THIS nav .links {
	   float: none;
	   display: block;
	   /* text-align: left; */
	}
	.THIS .rightSection {
	   float: none;
	}
 }

 .THIS .slds-modal__container{
	width: 50% !important;
	max-width: 50% !important;
}

.THIS.slds-modal__container{
	width: 50% !important;
	max-width: 50% !important;
}