.fieldLabel {
  color: var(--lwc-colorTextLabel, rgb(62, 62, 60));
  font-weight: var(--lwc-fontWeightRegular, 400);
  /* font-size: var(--lwc-fontSizeSmall, 0.75rem); */
  line-height: var(--lwc-lineHeightText, 1.5);
}

.operatorAndOperand {
  color: var(--lwc-colorTextDefault, rgb(8, 7, 7));
  font-weight: var(--lwc-fontWeightRegular, 400);
  /* font-size: var(--lwc-fontSizeMedium, 0.8125rem); */
  line-height: var(--lwc-lineHeightText, 1.5);
}