th, td {
    padding: 3px;
    border: 1px solid black;
  }
tr:nth-child(even) {
    background-color: #eee;
  }
 tr:nth-child(odd) {
   background-color: #fff;
  }
toastMessage.forceActionsText {
    white-space : pre-line !important;
}