.THIS {
}

.THIS .slds-text-heading_small{
    font-weight:700;
}


.THIS .slds-card__header{
        background-color: #f3f2f2;
}

.THIS .slds-card__body{
         margin-left:20px!important;
    margin-right:20px!important;
}


.THIS.slds-card{
        background-color: #f3f2f2!important;
    	padding-left:20px;
    padding-left:20px;
}

.THIS .spacing{
    margin-left:20px;
    margin-right:20px;
}

.THIS .slds-media{
    margin-left:15px!important;
    
}