.button {
  width: 120px;
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: #6cb472;
  border-radius: 5px;
  outline: none;
  font-size: 1.05rem;
}
.gssprods{
 border-radius: 0;
}
button.grow {
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.link {
  cursor: pointer;
}
.link:hover {
  color: #91d697;
}

.sub-text{
  color: #3e3e3c;
  font-family: 'Salesforce Sans', Arial, sans-serif;
  font-size: 12px;
  line-height: 2;
}

.buttontext-left {
  text-align: center;
  line-height: 28px;
  width:60%; 
  background: rgb(215,215,218);
  background: linear-gradient(90deg, rgba(215,215,218,1) 38%, rgba(224,224,224,1) 100%);
}
.buttontext-right {
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  width:40%; 
  background: rgb(59,84,96);
  background: linear-gradient(90deg, rgba(59,84,96,1) 38%, rgba(59,84,96,1) 100%);
  color: #fff;
}

.pack-border {
  background: linear-gradient(90deg,#cecfd059 38%,#cecfd059);
  color: #464646;
  font-weight: 400;
  border: 1px solid rgb(221, 219, 218);
  border-radius: 0 0.25rem 0.25rem 0;
}   


.disabled div {
  color: #bbbbbb;
  cursor: not-allowed;
}

input:disabled{
  cursor: default;
}