.search {
    padding: 10px;
    font-size: .8125rem;
    border: 2px solid grey;
    border-right: 0px;
    float: left;
    width: 84%;
    border-radius:0;
}

.searchBarBottomMargin{
    margin-bottom: 1.5rem;
}

.btnSrc {
    float: left;
    width: 16%;
    padding: 15px;
    color: white;
    font-size: .8125rem;
    border: 2px solid grey;
    border-left: none;
    cursor: default;
    background: rgb(0, 153, 204);
    border-radius: 0;
}

.btnSrc:hover{
    background-color: rgb(0, 104, 138);
}

.search::after {
    content: "";
    clear: both;
    display: table;
}

.autocompleteDIV {
    text-align: start;
    margin-top: -6px;
    cursor: pointer;
}

.autocompletecss{
    padding-bottom: 0px;
    border-bottom-width: 0px;
    margin-bottom: 0px;
    top: 51px;
    position: absolute;
}

.autocomplete-footer{
    height: 43px;
    background: #EEEEEE;
    padding: 15px 14px;
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid rgb(212, 212, 212);
    font-size: medium;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.Knowledge__kav {
    background-color: gold;
}

.custom_title_a_tag{
    color: #006DCC;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding-bottom: 5px;
}

.custom_metadata_tags{
    font-size: 10px;
    color:#979797;
    line-height: 13px;
}

.custom_metadata_tag_name{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
}

.custom_metadata_tag_value{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}

.auto_complete_li{
    padding: 10px 15px;
}

.answered_css{
    --sds-c-icon-color-foreground-default: #2E844A;
    --sds-c-icon-color-background: white;
}