.THIS .shadow{
        box-shadow:  t(shadowDrag);
}

 .THIS .tstxt_box{

}


.THIS .hidden {
    display : none;
}

.THIS .smallest{
    color:red;
    height:3px;
    width:3px;
}

.THIS .circleicon {
    border-radius: 52%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 10px;
    height: 10px;
    padding: 1px;
    
    color: red;
    font-weight: bold;
    text-align: center;
    
    font: 8px Arial, sans-serif;
    cursor: pointer;
}

.THIS .circleicon:hover {
    border-radius: 48%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 10px;
    height: 10px;
    padding: 1px;
    padding-left:2px;
    
    border: 1px solid red;
    color: #fff;
    background-color: red;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    cursor: hand;
    
    font: 9px Arial, sans-serif;
}

.THIS .errormsg{
    color: #961d1d;
}

.THIS .waitmsg{
    color: #696969;
}



 .THIS .fd_transit {
     color: #961d1d;
     left-padding:10px;

}

 .THIS .fade {
opacity:0;
}