.THIS .custom-min-width75{
    min-width:75px;
}
.THIS .header-background{
        background: rgb(239, 239, 239);
}

.THIS .custom-inputSelect{
    width:250px;
    display:inline;
}
.THIS .custom-view{
    width:150px;
}
.THIS .no_of_records{
    width:50px;
    display:inline;
}

.THIS .showForm{
    display:block;
}
.THIS .hideForm{
    display:none;
}

.THIS .slds-box-custom{
    height:200px;
    width:100px;    
}

.THIS .sWrap {
    height:500px;
    width:1450px;
}

.THIS .custom-multiSelect{
    width:250px;
    height:300px;
    display:inline;
}