.THIS .refreshbutton{
    float:left;
    margin-top: 9px;
    margin-right: 1rem;
}
.THIS .Viewallfilters{
    float: left;
    margin-top: 9px;
}
.THIS .SearchTypeDropdown {
    width:150px !Important;
}
.THIS td
{
     font-size:12px; 
}
.THIS th{ 
     font-size:12px !important;
    color:#005fb2 !important;
    font-weight:500 !important;   
}


.THIS .slds-accordion__summary_inner
{
    background-image:linear-gradient(to right, #556270,#4ECDC4);
    color:white;
    padding-top: 2px;
    padding-bottom:2px;
}

.THIS .slds-accordion__content_inner {
    /* Some visibility/opacity styling to override the default SLDS styling */
    visibility: visible;
    opacity: 1;
    height: 0;
    transition: height .5s ease-in-out;
}
.THIS .slds-is-open > .slds-accordion__summary_inner {
    margin-bottom: 0;
}
.THIS .slds-is-open > .slds-accordion__content_inner {
    overflow: hidden;
    height: 70px;
}

.THIS .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top:0px;
    z-index: 1;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    border : 1px solid #005fb2;
}

.THIS .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.THIS .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.THIS .slds-card
{
    border : 1px solid #1589ee;
}

.THIS .panel-info
{
    border-color: white;
    width: 100%;

}
.THIS .Paneldata
{
    color:white !Important;
}
.THIS .panel-heading
{

    background-image:linear-gradient(to right, #035b79,#2ebfea); 
    height:35px; 
    padding-top:5px;
    padding-bottom:3px;
}
/*Making checkbox values appear in a single row*/
.THIS .slds-checkbox {
    display: inline !important;
}

.THIS .field
{
   width:250px;
    margin-top: 20px;
}