.THIS {
}
.THIS.home-page-footer,
.THIS.home-page-footer ul.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.THIS.home-page-footer {
  background: #464d54;
  height: 52px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 48px;
  box-sizing: border-box;
}

.THIS .text {
  text-align: right;
  position: absolute;
  right: 5%;
  color:white;
}