<style type="text/css">
table {
    border-width: 0px;
    border-spacing: 0px;
    border-style: dashed;
    border-color: black;
    border-collapse: collapse;
    background-color: rgb(255, 250, 250);
    font-family: Verdana, sans-serif, Arial;
    font-size:16px;
}
.tdheadBold {
    border-width: 0px;
    padding: 2px;
    border: 0px #ffffff solid;
    color: rgb(51, 52, 57);
    background-color: #DCE5DA;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, sans-serif, Arial;
    font-size:15px;
    font-weight: bold;
    width: 180px;
    height: 35px;
    -moz-border-radius: ;
}
.tdhead {
    border-width: 0px;
    padding: 2px;
    border: 0px #ffffff solid;
    font-style: normal;
    text-align: center;
    vertical-align: middle;
    color: rgb(51, 52, 57);
    background-color: #DCE5DA;
    width: 120px;
    height: 25px;
    font-family: Tahoma, Verdana, sans-serif, Arial;
    font-size:14px;
    -moz-border-radius: ;
}
td {
    border-bottom: 1px #6699CC dotted;
    padding: 2px;
    color: #404040;
    background-color: #fafafa;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    font-family: Verdana, sans-serif, Arial;
    font-size:16px;
    -moz-border-radius: ;
}
span {
    font-family: Verdana, sans-serif, Arial;
    font-style:normal;
    font-size:13px;
}
  </style>