
/*Case Dashboard*/
.datatableStyle
{
    overflow: auto;
    padding-top: 1.5vh;
    font-size: 12px;
}


/*Case Dashboard: Search box label*/
.labelHidden > label
{
    display: none !important;
}


lightning-checkbox-group > fieldset > div > .slds-checkbox{
    display: inline !important;
}

/*Case Dashboard: Refresh icon*/
.rightAlign
{
    text-align: right;
}

/*Case Dashboard: Header*/
.headerStyle
{
    padding-left: 2vh;
    padding-top: 2vh;
    padding-right: 2vh;
    padding-bottom: 1vh;
}

/*Case Dashboard*/
.panelCase {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*Color code*/
.blue
{
    background: #bae0f7 !important;
}

.yellow
{
    background: #ffff71 !important;
}

.orange
{
    background: orange !important;
}

.red
{
    background: #ff6e6e !important;
}

.white
{
    background :  white !important;
}

.green
{
    background: #40bc40 !important;
}

.customIcon {
    width: 35px;
    height: 35px;
}
  
.summaryDashboard {
    font-size: 15px;
    padding: 10px;
    padding-left: 5px;
}
  
.summaryDash
{
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 2vh;
}

.filterDiv
{
	padding-left: 2vh;
	padding-bottom: 1vh;
    padding-right: 2vh;
}
  
.sidenav {
    height: 85%;
    width: 0;
    position: fixed;
    top:130px;
    z-index: 3 !important;
    right: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    border : 1px solid #005fb2;
}
  
.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.datatableStyle .slds-scrollable_y
{
    height: inherit !important;
}

.transIconCls .slds-icon-text-default
{
	--slds-c-icon-color-foreground: var(--lwc-colorTextWarning,rgb(254, 147, 57));
}