.customToggleButton .slds-checkbox_faux_container 
{
    margin-top: 3% !important;
}

.customToggleButton .slds-checkbox_on
{
    display :none !important;
}

.customToggleButton .slds-checkbox_off
{
    display :none !important;

}

.applyCustomModalClass .slds-modal__content
{
    overflow: initial;
}