.datatableStyle .slds-scrollable_y
{
    /*height: inherit !important;*/
    /*min-height: 20rem !important;
    height: 20rem !important;*/
    overflow: visible !important;
    width: auto !important;
}
.datatableStyle .slds-scrollable_x
{
    /*height: inherit !important;*/
    /*min-height: 20rem !important;
    height: 20rem !important;*/
    overflow: visible !important;
}

.datatableStyle .slds-docked-form-footer{
	z-index: auto !important;
}

.datatableStyle table{
	table-layout: auto !important;
	width: auto !important;
}

.my-pick-cls .slds-truncate{
	overflow: unset !important;
}

.datatableStylePopup .slds-docked-form-footer{
    position: fixed !important;
}
