.slds-chat-message__text
{
    max-width: 75%;
}

.slds-chat-message__meta
{
    /*margin-left: 25%;*/
    color : black;
}

.outboundMeta
{
    margin-left: 25%;
}

.commentsJarvisCard .slds-card
{
    border: none;
}

.commentsJarvisToolBar .slds-rich-text-editor__toolbar
{
    background-color: #F4F5F4;
}

.fullCommentInputJarvis .slds-form-element__control
{
	padding-left: 1.5%;
	padding-right: 1.5%;
}
