.datatableStyle
{
    overflow: auto;
    padding-top: 1.5vh;
    font-size: 11px;
    line-height: 35px;

}

.labelHidden > label
{
    display: none !important;
}


.rightAlign
{
    text-align: right;
}

.headerStyle
{
    padding-left: 2vh;
    padding-top: 2vh;
    padding-right: 2vh;
    padding-bottom: 1vh;
}

.blue
{
    background: #bae0f7 !important;
}


.yellow
{
    background: #ffff71 !important;
}


.red
{
    background: #ff6e6e !important;
}

.white
{
    background :  white !important;
}


.caseSevClass .slds-checkbox
{
	display: inline !important;
}	

.caseSevClass .slds-form-element__legend{
    font-weight: 420;
}


.panelCase {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.datatableStyle .slds-scrollable_y
{
    height: inherit !important;
}




