/* UCD Stylesheet */

.CasesinQmenu .slds-dropdown
{
    min-width : 60rem !important;
    max-width: 60rem !important;
}

.slds-icon-action-filter
{
    background-color:#057398 ;
}

.CasesinQmenu .slds-dropdown_length-with-icon-10, .slds-dropdown--length-with-icon-10
{
    overflow-y: hidden !important;
    max-height : 30rem;
    border: 1px solid #a7a9ab;
}

.inlinecheckbox .slds-checkbox
{
    display: inline !important;
}


.datatableStyle .slds-scrollable_y
{
    height: inherit !important;
}

.datatableStyle
{
    overflow: auto;
    padding-top: 1.5vh;
    /*zoom: 90%;*/
}


.myCasesFilterIcon
{
    background-color: #1d5873 !important;
}


.textInputStyle .slds-input
{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
}

.leftAlign button
{
    text-align: left;
}

.caseLogWorkFor div
{
    padding-left: 0 !important;
}

.reqDateBrown .slds-button
{
    color: brown !important;
    font-weight: bold !important;
}

.reqDateRed .slds-button
{
    color: red !important;
    font-weight: bold !important;
}

.negativeLOE
{
    color: red !important;
    font-weight: bold !important;
}

.nearingLOE
{
    color: orange !important;
    font-weight: bold !important;
}

.caseLoeModal .slds-modal__content
{
    overflow: initial;
}

.closeCaseModal .slds-modal__content
{
    overflow: initial;
}

.bulkCloseCaseModal .slds-modal__content
{
    overflow: initial;
}

.buttonLeftRightPadding
{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.globalSearchButton .slds-checkbox_faux_container
{
    text-align: center !important;
    color: black;
}

.globalSearchButton .slds-form-element__label
{
    font-weight: bold;
    color: black !important;
}

.caseLogWorkFor .slds-form-element__label
{
    color: black !important;
}

.projToShow .slds-form-element__label
{
    color: black !important;
    font-size: 10px !important;
}

.projToShow .slds-checkbox_faux_container
{
    text-align: center !important;
    color: black !important;
}

.caseLogWorkFor .slds-checkbox_faux_container
{
    text-align: center !important;
    color: black !important;
}

.brand .slds-button
{
    background: #1c5873 !important;
    border-radius: 15px;
}

.neutral .slds-button
{
    background: white !important;
    border-radius: 15px;
}

.escBlueText .slds-button
{
    color : #006dcc !important;
}

.trimRightPadding
{
    padding-right: 0 !important;
}

.noPadding
{
    padding: 0 !important;
}

.filterStyle a
{
    padding: 0 !important;
}

/* or 
.casesDatatableCustom table tr>td:first-child
.slds-table tr>th:first-child */ 
/*
{
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}
*/
/*
.casesDatatableCustom .slds-th__action
{
    justify-content: center !important;
}

.hoursBubble 
{
    min-width: 30px !important;
    max-width: fit-content !important;
    line-height: 27px !important;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    border: 1px solid lightgrey;
    vertical-align: middle;
    padding: 0;
    margin: 3px;
}

.redHoursBubble
{
    background-color: #d3342f;
    color: white;
    border: none;
}

.yellowHoursBubble
{
    background-color: #ffd900;
    border: none;
}
*/