.smallTableHeight{
    height : 30vh !important;
}

.tableHeight{
    height : 30vh !important;
}

.bigTableHeight{
    height : 45vh !important;
}


.veryBigTableHeight{
    height : 70vh !important;
}


.widthFull
{
    width : 100% !important;
}

.cardStyle
{
    height: auto !important; 
}

.titleFont
{
    font-size: 16px !important;
}


.modalSizeClass
{
    max-width: 70rem !important;
    width: 70% !important;
}


.summaryDashboard 
{
    font-size: 13px !important;
    padding: 10px !important;
    padding-left: 4px !important;
}
  
  .summaryDash
  {
      padding-left: 2vh !important;
      padding-top: 1vh !important;
      padding-bottom: 1vh !important;
      padding-right: 2vh !important;
  }
  
  .sidenav {
      height: 85%;
      width: 0;
      position: fixed;
      top:130px;
      z-index: 3 !important;
      right: 0;
      background-color: whitesmoke;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 10px;
      border : 1px solid #005fb2;
  }
  
   .sidenav a {
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }