.THIS .commentedNameCls{
    height: 22px;
    padding-top: 31px;
}
.THIS .commentCls{
    font-size: 109%;
}
.THIS .commentStyleCls{
    line-height: 1.5;
    height: 3.0em;
    overflow: hidden;
}
.THIS .hideEle{
    /*display:none;*/
    font-size: 0px !important; 
}
.THIS .commentHeightStyleCls{
    /*height: 0.0em;*/
    line-height: 1.5;
    overflow: hidden;
}