/*
Inline styles for New SC Home Screen
*/

.imageIcons{
    background-size: 100% 100%;
    height:15px;
    width:15px;
    float:left;
    cursor: pointer;  
}

.caseImage {
    background-image:  url("../SCNewHomeScreenicons/cases.png");
    margin-left:8px;    
}

.transitionImage {
    background-image:  url("../SCNewHomeScreenicons/transitionIcon.png");
    margin-left:8px;    
}

.ERImage {
    background-image:  url("../SCNewHomeScreenicons/pie.png");
    margin-left:8px;
}

.cursorHandImage {
    background-image:  url("../SCNewHomeScreenicons/cursor_hand.png");
    margin-left:3px;
}     

 .sleeping{
    content:  url("../SCNewHomeScreenicons/1Sleeping.png");
  }

  .quiet{
    content:  url("../SCNewHomeScreenicons/2Quiet.png");
  }

  .taunt{
    content:  url("../SCNewHomeScreenicons/3Taunt.png");
  }

  .happy{
    content:  url("../SCNewHomeScreenicons/5Happy.png");
  }

  .cool{
    content:  url("../SCNewHomeScreenicons/6Cool.png");
  }
  
body,html{
font-size:11px;
height:100%;
}


.decpadding{
 padding-left:2px;
 padding-right:2px;
 }


.rowclass{
height:100%;
padding:5px;
}

 .setmargin{
  margin-top:2px;
  margin-bottom:2px;
 }

 .setwidth{
  width:100%;
 }

 .setheight{
  height:100%;
 }

#section1 {
    height:16%;
    min-width:1175px;
    min-height:112px;
    margin-left:-10px;
    margin-right: -10px;
    margin-top: 5px;
    width: -moz-calc(100% + 17px);
    width: -webkit-calc(100% + 17px);
    width: calc(100% + 17px);
}
  
#section2,#section3,#myTeamSection {
    height:39%;
    min-height:220px;
    min-width:1175px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 5px;
    width: -moz-calc(100% + 8px);
    width: -webkit-calc(100% + 8px);
    width: calc(100% + 8px);
}

.TableClass
    {
        height:32% !important;
        min-height:200px !important;        
    }    

.oval {
    width: 80px;
    height: 40px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    text-align: center;
    display:table;
    margin: 0 auto;    
    border:0px solid black;
    margin-top:5%;
    margin-bottom:3px;
    box-shadow:3px 3px 3px #999999;
    }


.oval h3{
display:table-cell;
vertical-align: middle;
font-size:15px;
font-weight: bold;
}

.ovalLabel{
    margin: 0 auto;
    width:90px;
    padding-left:1px;
    text-align:center;
}

.panel{
position:relative;
}

.paneltopsection{
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
    padding-left:15px;
  
}

.panelheadtopsection{
  padding: 2px ;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
  height:28px !important;
  color:black;
  
}

#section1 .panelheadtopsection{
 font-size:13px;
 height:22px !important;                                    
}

#section1 .panelbodytopsection{
    height: -moz-calc(100% - 23px) !important;
    height: -webkit-calc(100% - 23px) !important;
    height: calc(100% - 23px) !important;
}
                                    
.panelbodytopsection{
    height: -moz-calc(100% - 30px);
    height: -webkit-calc(100% - 30px);
    height: calc(100% - 30px);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow:auto;
}


.removeborder{
  border:none;
  background: none;
  color:black;
  text-align: center;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody,table.dataTable.no-footer {
border-bottom:solid 1px transparent;

}

#myTeamTable tbody tr,#myTable tbody tr,#QueueTable tbody tr{
height:25px;
}

#myTeamTable thead tr th,#myTable thead tr th,#QueueTable thead tr th,
#myTeamTable tbody tr td, #myTable tbody tr td,#QueueTable tbody tr td,
#SITablehead thead tr th,#SITable tfoot tr td,
#SITable tbody tr td,
table.dataTable thead th, table.dataTable thead td{
padding:3px;
border-top: 0px;
}

#myTeamTable thead tr th,#myTable thead tr th,#QueueTable thead tr th,
table.dataTable thead th, table.dataTable thead td,
#SITablehead thead tr th{
border-bottom: 1px solid #d0d0d0;
}

#myTeamTable tbody tr td p,#myTable tbody tr td p,#QueueTable tbody tr td p,
table.dataTable thead th p, table.dataTable thead td p{
margin-bottom:0px;
}

#SITablehead{
margin-bottom:0px;
}

#SITable tbody tr td,#SITablehead thead tr th{
padding:2px;
padding-left:4px;
color:black;
}

.table-striped  tbody  tr:hover  td,
.table-striped   thead  tr  th:hover
{
  background-color: #DCDCDC;
}

.tablediv
{
display:table;
width:100%;
}

.celldiv
{
display:table-cell;
vertical-align:middle;
overflow:auto;
width:100%;
}

span.glyphicon.glyphicon-search:hover
{
color:#0000CD;
}

.LOE{
text-align:center;
}


.LOE img{
height:36px;
width:36px;
margin-top:3%;
}

#myTeamTable tbody tr td img,#myTable tbody tr td img,#QueueTable tbody tr td img{
    height:15px;
    width:15px;
    margin-left:6.5px;
    cursor: pointer; 
}

#myTeamTable a,#myTable a,#QueueTable a,#SITable a{
cursor: pointer; 
text-decoration: underline; 
color:#3597dc;
}


.table-striped thead tr th.nosort:hover{
background-color: white;
}

.truncate{
     width: 100%;
     overflow: hidden;
     display: inline-block;
     text-overflow: ellipsis;
     white-space: nowrap;
     margin-bottom:0px;
 }
 
 .statusOuter{
 opacity: 0.7;
 position:absolute;
 background-color:white;
 z-index:10;
 top:0px;
 left:0px;
 width:100%;
 height:100%;
 border-radius:4px;
 }
 
 .statusInner{
 position:relative;
 top:50%;
 text-align:center;
 }

 .myToggleClass{
   min-height:0px !important;
   height:30px !important;
 } 
  
 .toggleExpander{
   height: -moz-calc(78% - 30px) !important;
   height: -webkit-calc(78% - 30px) !important;
   height: calc(78% - 30px) !important;
  }  
    
  .fa-toggle-down:before, .fa-caret-square-o-down:before {
    content: "\f150" !important;
  }  
  
   #myExpand,#qExpand{
     float: right;
     color: grey;
     cursor: pointer;
   }
    
    .col-md-5th {
        padding:0px;
        width: 20%;
        float: left;
        }
 