.THIS .logoContainer {
background-image: t('url(' + brandLogoImage  + ')');
background-position: center;
background-repeat: no-repeat;
background-size: contain;
z-index: 99;
cursor: pointer;
position: relative;
max-width: 100%;
max-height: 52px;
display: block;
outline: 0;
height: 34px;
width: 300px;
margin-top: 10px;
    margin: 0 auto;
}

.THIS .profileName {
    color:black;
}

/* SFDC - 7780  - Display Helptext on Hover*/

/* .THIS .forcePageBlockItemView .tooltipIcon:hover + span { 
  visibility: visible !important;
  position : relative !important;
}  */

.THIS .uiTooltip.tooltip-trigger :hover + span{
  visibility: visible !important;
  /*position : float-left !important;*/
  /*float : left !important; */ 
  position: relative!important;
  border-radius: .25rem;
  word-wrap: break-word;
  width: 20rem;
  min-height: 2rem;
  z-index: 1;
  /*top: -10px;*/
  /*top : calc(100%-60px);*/
  left: 65%;
  /*left : calc(100%-60px);*/
  /*background-color: #191970 !important;*/
  background-color: #16325c !important;
  display: block;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
  border: 1px solid #d9dbdd;
  font-family: 'Salesforce Sans',Arial,sans-serif;
  color:white !important;
  padding: 0.25rem;
  height: fit-content;
  /*padding: var(--lwc-spacingXSmall,0.5rem) var(--lwc-spacingSmall,0.75rem); */
 /* border-radius: 0.5!important;*/

}


.THIS .navbar {
    padding : .25rem 1rem;
}

.THIS p {
    margin : 0;
    padding: 0;
}

.THIS .forceCommunityRelatedRecords .container {
	max-width: 100% !important;
}

.THIS .flowruntime-input .slds-form-element {
	font-family: Work Sans;
	font-size: .8125rem;
}

.THIS .slds-combobox__form-element{
	font-family: Work Sans;
	font-size: .8125rem;
}

.THIS .triggerDownArrow {
    color:black;
}

.THIS {
    position: relative;
    z-index: 1;
    padding-top: 10px !important;
}

.THIS .slds-col {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}

/* SFDC-8015 */
/*.THIS .oneAlohaPage {
  /*height: 100%;
   /*margin-left: -5em !important; 
  /*margin-right: -5em !important;
  width :100% !important;
  max-width :100% !important;
  position: fixed !important;
}*/

/*.THIS .oneAlohaPageDeprecated.content {
  height: 100%;
  width: 99% !important;
  max-width: 100% !important;  
  position :fixed !important;
  margin-left: -5% !important;
  margin-right: -7% !important;

}*/




.THIS .content {
    margin-left: 5%;
    margin-right: 5%;
}

.THIS.cHeaderWrapper {
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    
}

.THIS body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 1rem;
    background-color: #D3D3D3;
	font-weight: 400;
	line-height: 1.0;
	color: #212529;
	text-align: left;
}

.THIS .slds-scope .slds-input {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(217, 219, 221);
	border-radius: .25rem;
	width: 100%;
	transition: border .1s linear,background-color .1s linear;
	display: inline-block;
	padding: 0 1rem 0 .75rem;
	line-height: 1.875rem;
	min-height: calc(1.875rem + (1px * 2));
}

.THIS .slds-scope button, .THIS.slds-scope input, .THIS .slds-scope optgroup, .THIS.slds-scope select, .THIS.slds-scope textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

.THIS .forceRelatedListSingleContainer {
  font-size: 13px;
  padding-left: 0px;
  padding-right: 0px;
}

.THIS .L2Q_GenericApprovalComponent {   
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*.THIS .slds-col--padded:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
  padding-left: 25px;
  padding-right: 25px;
}*/

.THIS .cPartnerCommunityRelatedListButtons {
  padding-right: 15px;
}

.THIS ul.slds-form {
  padding-top: 0rem;
  padding-bottom: 0px;
    margin-right:auto;
    margin-left: auto;
}

.THIS .cPartnerCommunityRelatedListButtons {
  padding-right: 15px;
}

.THIS ul.slds-form {
  padding-top: 0rem;
  padding-bottom: 0px;
  margin-bottom: 0rem;
}

.THIS .forceRelatedListContainer {
 padding-left: -10px;
 border-left-style: solid;
 border-left-width: 0px;
 margin-left: 0px;
 margin-right: 0px;
 padding-left: 0px;
 padding-right: 0px;
}

.THIS .forceRelatedListContainer > div:nth-child(1) {
 padding-left: 0px;
 padding-right: 0px;
}

.THIS .forceRelatedListCardHeader header{
    padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}



.THIS .slds-page-header__title > span:nth-child(1) {
  font-size: 18px;
  font-weight: 552;
}

.THIS .slds-page-header__title > span:nth-child(1) {
  font-size: 18px;
  font-weight: 552;
}

.THIS .slds-col--padded:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
  font-size: 13px;
  line-height: 12px;
  letter-spacing: -0.06em;
}

.THIS .slds-page-header__title > span:nth-child(1) {
  font-size: 18px;
  font-weight: 552;
}

.THIS .slds-col--padded:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
  font-size: 13px;
  line-height: 12px;
  letter-spacing: -0.06em;
}

.THIS .slds-col--padded:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  padding-top: 0px;
  padding-bottom: 0px;
}

.THIS .slds-col--padded:nth-child(2) {
  padding-left: 0rem;
  padding-right: 0rem;
}

/*.THIS .slds-col--padded:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  padding-left: 2rem;
  padding-right: 2rem;
}*/

.THIS .slds-col--padded:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  padding-right: 16px;
  padding-left: 16px;
}

.THIS .cL2Q_GenericFileUploadComponent:nth-child(1) {
  margin-left: -10px;
  margin-right: -10px;
  font-size: 13px;
}

.THIS .cL2Q_GenericFileUploadComponent {
    background-color: #FFFFFF;
}

.THIS .cL2Q_GenericFileUploadComponent:nth-child(3) {
  margin-left: -10px;
  margin-right: -10px;
  font-size: 13px;
}

.THIS .slds-brand-band {
    background-color: rgba(176, 196, 223, 1.0); /* This is the standard blue */
    z-index: 1; /* This is to counteract the -1 that the :before element has */
}

/* These are the gradients and image used in the Salesforce theme */
.THIS .slds-brand-band:before {
    background-image: url(/_slds/images/themes/lightning_blue/lightning_blue_background.png),linear-gradient(to top, rgba(255, 255, 255, 0.0) 0, rgba(160, 180, 206, 1.0));
}
.THIS .slds-brand-band:after {
    background-image: linear-gradient(to bottom, rgba(176, 196, 223, 0.0) 60%, rgba(176, 196, 223, 1.0));
}

.THIS .forceCommunityRecordListDesktop .slds-page-header {
 padding-left:0;
 padding-right:0;
 background-color:rgba(145, 145, 145, 0.25);
}

.THIS .forceListViewManagerHeader.slds-page-header--object-home {
 padding-top:3;
 padding-right:1rem;
 padding-bottom:10px;
 padding-left:1rem
}

.THIS .test-listViewManager .slds-card {
	position: relative;
	padding: 0;
	background: var(--lwc-cardColorBackground,rgb(255, 255, 255));
	border: var(--lwc-borderWidthThin,1px) solid var(--lwc-cardColorBorder,rgb(221, 219, 218));
	border-radius: var(--lwc-borderRadiusMedium,0.01rem) !important;
	background-clip: padding-box;
	box-shadow: var(--lwc-cardShadow,0 2px 2px 0 rgba(0, 0, 0, 0.10));
}
                        
.THIS ol.slds-list--horizontal {
 margin-top:0;
 margin-bottom:0;
}
                        
.THIS .forceCommunityRecordHeadline .forceRecordLayout.slds-page-header {
 background:#ffffff;
}

.THIS .primaryFieldRow {
 padding-top:10px;
 padding-left:10px;
 padding-right:10px;
 background-color:rgba(145, 145, 145, 0.25);
}
                        
.THIS .forceIcon.slds-button__icon .slds-icon {
    fill: darkgrey;
}
                        
.THIS div.slds-page-header {
 height: 125px;
 left: 13px;
 right: 13px;
 padding-top: 0px;
 padding-bottom: 0px;
 padding-left: 0px;
 padding-right: 0px;
 border-radius: 4px;
}
                        
.THIS div.slds-page-header:nth-child(2) {
 height: auto !important;
 left: 13px;
 right: 13px;
 padding-left: 0px;
 padding-right: 0px;
 padding-bottom: 10px;
 border-radius: 4px;
 margin-top: 25px;
}
                        
.THIS .flowRuntimeV2 {
 background-color: #ffffff;
}

.THIS div.slds-page-header {
 height:auto !important;
}
                        
.THIS .footerBack {
    background-color: rgba(176, 196, 222);
    height:400px;
}