.sectionBackground{
    background-color: white;
}

.slds-accordion__section.slds-accordion__summary.slds-accordion__summary-heading{
    height:150px;
    background-color:blue;
}

.assignIcon
{
    font-size: 20px !important;
}

.lightning-card .article .slds-m-top_large{
    margin-top: 30px;
}

.cellClass{
    font-weight:700;
    color:black;
}

.check{
    width:20px;
    height:20px;
}

.top{
margin-top:-10px;
}

.topApplyAllButton{
    margin-top:-10px;
    }

.This .Severity1{
    color:red;
}