.footer-btns {
  background-color:white; 
  text-align:center;
}
.container {
  height: calc(100vh - 160px);
  /* overflow: hidden; */
  /* margin-top: -220px; 
  padding-top: 220px; */
}

.form-cont {
  height:100%; 
  min-height:73vh; 
  background:white; 
  border-bottom: 2px solid #b8b8b8;
}

.card {
  background: white;
  height: 100%;
  /* padding-top: 10px; */
  /* border-radius: 0.25rem; */
  transition: all .2s ease;
  /* border:5px solid;
  border-image: linear-gradient(to right, #2b68c4 0%,#cf2d6e 100%)1; */
}

.pop {
  transition: all .2s ease;
}
.pop:hover{
  /* border-bottom: 2px solid #b8b8b8;  */
  border-bottom: 2px solid #88e477; 
  
  /* 008571 */
  transform: scale(1.025);
  /* box-shadow: 0 0 16px 1px  rgba(0,0,0,.3);  */
}


.form {
  margin-left: calc(50% - 250px);
  max-width: 500px;
  margin-bottom: 30px;
}

.formLeft {
    margin-left:0px;
}

.dashboard {
  width: 70%;
  margin: auto;
}

.left-panel {
  width: 30%;
  min-width: 400px;
  height: 100%;
  background: #fff;
  top: 0;
  position: absolute;
  float: right;
}

.flexed {
    transition: all 200ms ease;
}

.tab {
  min-height: 270px;
}


@-webkit-keyframes grow {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 50px;
    opacity: 1;
  }
}
@keyframes grow {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 50px;
    opacity: 1;
  }
}

.tile {
  height: 100%;
  border-radius: 0.25rem;
  background-clip: padding-box;
  background: white;
}

.auto-height{
  height: 100%;
}

.half-height {
  height: 40vh;
}

.alert-success {
  /* background-color: #a3aaff7a; */
  font-weight: 400; 
  border-radius: 3px;
  /* box-shadow : 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  /* font-weight: 700; */

  background-color:#a3b2ba;
  font-size: 14px;
  color: #ffffff;
  padding: 4px;
}

.esr-trend {
  position: absolute; 
  height: 100%; 
  width:100%; 
  overflow-y: scroll; 
  top: 0px;
}
/* 
.esr-trend::-webkit-scrollbar-track {
  background-color: white;
} */