.header-row {
    padding-left: 10px;
}
:host {
    --sds-c-badge-color-background: #0C9DDA;
    --sds-c-badge-text-color: #FFFFFF;
  }
  .slds-modal__container {
    max-width: 60rem !important;
    width: 60% !important;
}