.THIS .cell-content{ 
    overflow: hidden; 
    max-width: 100%; 
    text-overflow: ellipsis;
    white-space: normal !important;
}

.THIS .buttonstyle
{
    border-radius: 50px;
    /*background-color: cadetblue;*/
    background-color: #FF9933;
    border: none;
}

.THIS .notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

/*.THIS .notification:hover {
  background-color:red;
  
}

.THIS .notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}*/

.THIS .fa[data-count]{
    position:relative;
}

.THIS .fa[data-count]:after{
    position: absolute;
    right: -0.75em;
    top: -.75em;
    content: attr(data-count);
    padding: .5em;
    border-radius: 10em;
    line-height: .9em;
    color: white;
    background: rgba(255,0,0,.75);
    text-align: center;
    min-width: 2em;
    font: bold .4em sans-serif;
}
.THIS notificationCls {
    opacity: 0;
    color:#ff9933 !important;
}
.THIS notificationCls:hover {
    opacity: 1.0;
    color:#ff9933;
}
.THIS thead tr th {
    background: rgb(28, 88, 115)!important;
    color:white !important;
}
/*toggleCss.css*/
.THIS toggle {
    display: none;
}