.header-notes {
    font-weight: 100; 
    font-size:0.8rem; 
    text-align: left; 
    margin: auto;
    display: inline-block;
}

.survey-container {
    height: var(--jvSurveyContainerHeight, 600px);
    width: var(--jvSurveyContainerWidth, 700px);
    margin: auto;
    overflow: hidden;
    z-index: 1000
}

.survey {
    height: var(--jvSurveyHeight, 800px);
    width: var(--jvSurveyWidth, 800px);
    border:none;
    margin-top: -82px;
    margin-left: -35px;
} 


.c-background {
    background-color: var(--modalBgColor, #262A2E);
  }