.THIS 
{}

.THIS .rightAlign{
    text-align: right;
}

.THIS .leftAlign Button{
    text-align: left;
}


.THIS .label-hidden > label {
    display: none;
    }

.THIS .slds-button_icon-bare{
display: none;
}

.THIS .slds-truncate {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}