.THIS lightning-primitive-header-actions {
    display: none;
}

.THIS lightning-primitive-cell-types {
    text-overflow: inherit;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 12px;
}

.THIS .slds-th__action{
	padding-right: 5px;
    font-size: 12px;
}