.THIS .custom-modal-body{
   
   
    /*max-height: 1000px;
    position: fixed;
    margin-left: 30%;
    margin-top: 11%;*/
    
    position: relative;
    width: 70%;
    height: 90%;
    max-height: 840px;
    max-width: 840px;
    min-width: 480px;
    min-height: 480px;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 9%;
    margin-right: auto;
}

.THIS .custom-show-modal{
    display:block;
}
.THIS .custom-hide-modal{
    display:none;
}