.THIS .whiteOnBlack svg {
    fill : white;
}
.THIS .slds-progress-bar__value {
    background:#4BCA81 !important;
}
.THIS .whiteOnBlack {
    background-color:#708090 !important;
}
.THIS .header {
    cursor: pointer;
    padding-left:8px;
    padding-right:8px;
    padding-top:8px;
    padding-bottom:2px;
    background-color:#F3F2F2;
    margin-top:10px;
    color:black;
    border-radius:8px;
}
.THIS .header:hover {
    background-color:#EEF1F6 !important;
}
.THIS textarea {
    height:86px !important;
}
.THIS .slds-progress-bar {
    border-radius: 10px !important;
}
.THIS .slds-progress-bar__value {
    border-radius: 10px !important;
}
.THIS .slds-progress-bar {
    height:12px !important;
}