.THIS .padded{
    padding : 1%;
}
.THIS .wdth{
    width : 100%;
}
.THIS .hzl .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS .duallbClass{
    width:100%;  
}

.THIS .formWidth{
   width:58%
}
.THIS .scrollHeight{
  height:75vh;
}

.THIS .scrollHeightMobile{
  height:90vh;
   
}

.THIS .mainWrap{
   
 height:100vh;   
}

.THIS .maintab{
   
 
}



.THIS .mainWrap{
   
height:63vh;   
width:100%;
}

.THIS .mainWrapMobile{
   
   height:100vh;  
}
.THIS .formtabclass{
   
    
}
.THIS .formtabclassmobile{
 
}

.THIS #label_hidden_int .slds-form-element__label{
    display: none !important;
}
.THIS #label_hidden_ct .slds-form-element__label{
    display: none !important;
}

.THIS .form_insidetab_mobile{
   height:90vh;
    width:100%;
}
.THIS .form_insidetab{
    height:65vh;
    width:100%;
}

.THIS .slds-form-element__label{
   font-size:100%;  
   
}

.THIS .boxmargin{
  margin-left:2%;  
    
}

.THIS #productTab__item{
    font-size:120%;    
    padding:2%;
    width:125px;
}

.THIS #formTab__item{
   font-size:120%;
    
     padding:2%;
    width:125px;
}

.THIS .tabError .slds-tabs_default__item a{
   color:red;
}

.THIS .border{
   
    border-style: solid;
    border-width: 1px;
    
    border-color:  #d3d3d3;
    
   
}