.THIS td
{		max-width: 150px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
        font-size:12px; 
			
}
.THIS th{ 
        font-size:13px !important;
        color:#005fb2 !important;
        font-weight:500 !important;    
    	}
.THIS .pointer
{
    cursor: pointer; 
}

.THIS .notallowed
{
    cursor: not-allowed;
}

.THIS tbody {
  display: block;
  max-height: 240px;
  overflow: scroll;
}

.THIS tbody::-webkit-resizer {
background-color: #ffb100;
}

.THIS .slds-accordion__summary
{
            /*background-image: linear-gradient(to right, #2C3E50 , #FD746C);*/
    background-color:#FDBD5E;
    color:black;
    padding-top: 8px;
    padding-bottom: 8px;
}

.THIS thead,
.THIS tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.THIS .slds-checkbox {
    display: inline !important;
}
.THIS .FilterClass
{
    font-size:13px !important;
    color:#005fb2 !important;
    font-weight:500 !important; 
}
.THIS .slds-button:hover, .THIS .slds-button:focus
{
    color:white;
}
.THIS .slds-icon-text-default
{
    fill:white;
}