.THIS .slds-modal__container{
 max-width: 80% !important;
 width:100% !important;
}

.THIS lightning-primitive-header-actions {
    display: none;
}

.THIS .sectionHeading{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(8, 7, 7);
}