.announcementTitle {
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
}

.announcementDetail {
    position: absolute; 
    bottom: 15px; 
    left: 15px; 
    font-size: 15px;
}

.modalRadius {
    --sds-c-modal-radius-border : 7px;
}

.bg {
    background-image: url("/resource/HD_Announcement_Bg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardShadow {
    box-shadow: 0px 1px 2px silver;
}