.THIS .toggle{
    display: none;
}

.THIS .styleOOO svg{
    fill: #e75480 !important;
    size: large !important;
}
.THIS .Monday{
    margin-left:-0.3rem;
}

.THIS .Tuesday{
    margin-left:1.5rem;
}

.THIS .Wednesday{
    margin-left:3.2rem;
}

.THIS .Thursday{
    margin-left:4.5rem;
}

.THIS .Friday{
    margin-left:6.4rem;
}

.THIS .Saturday{
    margin-left:8rem;
}

.THIS .Sunday{
    margin-left:9.6rem;
}