#header{
	right:82px;
	position: absolute;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
}

.languageText{
	color: #a5a5a5;
}

#langselect{
	float: right;
	margin: 0.1% 5% 0.5% 0;
}

.swfcontainer{

}