.THIS .slds-button.slds-button_brand.slds-m-top_medium.slds-form_stacked.buttonStyleCls{
    margin-top: -65px !important;
    margin-bottom: -86px !important;
    width: 100% !important;
    height: 42px !important;
    border-right-color: rgb(244,244,244) !important;
    border-left-color: rgb(244,244,244) !important;
    border-top-color: rgb(244,244,244) !important;
    border-bottom-color: rgb(244,244,244) !important;
    background-color: transparent !important;
    color: #049cd4 !important;
}