.THIS .custom-modal-body{
   position: relative;
    width: 70%;
    height: 90%;
    max-height: 620px;
    max-width: 840px;
    min-width: 480px;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: 9%;
    margin-right: auto;
    
}

.THIS .custom-input{
    width: 50%;
}