/* .trend-item {
    font-size:15px;
    font-weight: 200;
    line-height: 1; 
}

.trend-item-label {
    font-weight: 200;
}

.trend-item-value {
    font-weight: 200;
}

.title {
    font-size:1.15rem; 
    color: rgb(8, 7, 7);
    font-weight: 300;
    / color: #6cb472; 
    / font-style: italic; 
} */



.header {
    /* padding: 15px 20px; */
    /* font-size: 1.15rem; */
    font-weight: 300;
}

.item {
    padding: 10px 20px;
    /* font-size: .95rem;
    font-weight: 300; */
}