.THIS .slds-combobox__input
{
 	cursor: pointer !important;
}

.THIS .slds-card__body
{
    padding-bottom: 25px;
}

.THIS .slds-media__figure
{
    padding-left: 10px;
    padding-top: 10px;
}

.THIS .slds-form-element__label 
{
    display: none !important;
}

.THIS .slds-form-element_stacked
{
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}

.THIS .tableStyle
{
    padding: 2px !important;
}

.THIS .slds-card
{
    border: 1px #39B4C0 solid !important;
}