.slds-icon .slds-icon-text-default{
    fill: white!important;
    }
.accordionClass{
 
--sds-c-accordion-summary-color-background : rgb(243, 242, 242);
   
}
.interop-accordionsection_accordionsection{
    background-color:rgb(243, 242, 242);
}
.fixedHeightScrollable{
    height: 500px; 
    overflow-y:auto;
}
.THIS .cuf-content {
    padding: 0 0rem !important;
    }
.THIS .slds-p-around--medium {
    padding: 0rem !important;
    }
.THIS .slds-modal__content {
    overflow-y: hidden !important;
    height: unset !important;
    max-height: unset !important;
    }


    .align-center{
        text-align: center;
    }
    .align-right{
        text-align: right;
    }
    .padding-top{
        padding-top: 1rem;
    } 
    .padding-right{
        padding-right: 1rem;
    }
    .border-bottom-shadow{
        margin-top: 10px;
        border-top: 2px solid #dddbda;
    }
    .top-component{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .modal-height{
        min-height: 480px;
    }
    .modal-width{
        max-width: 90rem !important;
        width: 90% !important;
    }
    .datatable-height{
        height: 400px;
    }
    .header-font-weight{
        font-weight: 400;
    }
    .flex-align-center{
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .error-message{
        color: #c23934;
        padding-bottom: 1rem;
    }