.error-msg {
    background-color: rgb(234, 78, 78);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 78, 78);
    border-image: initial;
    border-radius: 10px;
}

.item:hover {
    background-color: rgb(234, 78, 78) !important;
    color:whitesmoke;
}

.invalid-inp {
    position: absolute;
}