.THIS .ccbox {
    display:true;
}

.THIS .cc_input{
    display:true;
}

.THIS .btn_spn{
    display:true;
}


.THIS .sldsbtn-style{
    line-height:1rem !important;
    min-height:1.6rem !important;
    padding-left:10px !important;
    padding-right:10px !important;
    
}

.THIS .added_spn{
    display:true;
}