.THIS .custom-min-width75{
    min-width:75px;
}
.THIS .header-background{
        background: rgb(239, 239, 239);
}

.THIS .custom-inputSelect{
    width:250px;
    display:inline;
}
.THIS .custom-view{
    width:150px;
}
.THIS .no_of_records{
    width:50px;
    display:inline;
}

.THIS .showForm{
    display:block;
}
.THIS .hideForm{
    display:none;
}

.THIS .slds-box-custom{
    height:200px;
    width:100px;    
}

.THIS .sWrap {
    height:500px;
    width:1450px;
}

.THIS .custom-multiSelect{
    width:250px;
    height:300px;
    display:inline;
}


.THIS .wk_warning {
    background : #FFB75D !important;
}
.THIS .wk_success {
    background : #04844B !important;
}

.THIS.hide {
    display: none;
 }
 
 .THIS.btn {
    margin-bottom: 10px;
 }

.THIS label.uiLabel {
    padding-right: 12px;
}

.THIS .field{
  padding: 0px;
  border: 1px solid #dce4ec;
  border-radius: 1px;
}


@media(max-width:700px){
    .THIS .responsiveHide{
        display : none !important;
    }
}