.THIS .slds-modal__container {
    margin: 0 auto !important;
    width: 90% !important;
    max-width: 100rem !important;
    min-width: 20rem !important;
}


/*CSS for thumbs down button*/
.THIS .red svg {
    fill : #c23934 !important;
}

/*CSS for thumbs up button and checkbox*/
.THIS .green svg {
    fill : #4bc076 !important;
}


.THIS .white svg{
    background:white !important;
}

/*  CSS for table  start*/
.THIS table.fixed { 
    table-layout:fixed; 
}
.THIS table.fixed td { 
    overflow: hidden; 
}

.THIS tbody th {
    color:#005fb2 !important;
    
}

.THIS thead tr th {
    background:rgba(27, 82, 151, 1.0) !important;
    color:white !important;
    
}

/*  CSS for table  end*/