.THIS.uiMessage{
	color: #464646;
    padding: 5px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18px;
    border-color: #ccc;
    background-color: #eee;
    opacity:1;        
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}
.THIS.uiMessage.hide{
    opacity:0;
}
/*******************************************
 this selector needs to be moved into base*/
.THIS.uiMessage .close {
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	color: black;
	text-shadow: 0 1px 0 white;
	opacity: 0.2;
}
/*******************************************/

.THIS.uiMessage h4{
    font-weight: bold;
    font-size: 16px;
}
.THIS.uiMessage .bBody p{
	margin:0;
}
.THIS.uiMessage.warning{
    border-color: #f8e38e;
    background-color: #ffffdc;
}
.THIS.uiMessage.error{
    border-color:#f2a199;
    background-color: #fdedea;
}
.THIS.uiMessage.confirm{
    border-color:#9bebb3;
    background-color: #edfff1;
}
.THIS.uiMessage.info{
    border-color:#bee6ff;
    background-color: #f5fcff;
}