.THIS {
}

.THIS .az-header {
  width: 100% !important;
  margin: 0 auto !important;
  position: relative !important;
  background-color: #4197C6 !important;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2) !important;
}

.THIS a.logo {
  /* background-image: url(AMI_HeaderComponent.svg); */
  /* Add community-name before /resource in order to access the static resource in community */
  min-width: 125px;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 57px;
  display: block;
  /* transform: translateY(-20px); / ): ; / margin: 24px; */
  margin-left: 24px;
}

.THIS .main-nav-wrapper {
  height: 85px;
}