.editIcon{
     background-color: #0bbbae !important;
     margin: 4px;
     padding: 3px 2px 4px 2px;
     cursor: pointer;
}

.revokeIcon{
     background-color: #ec6874 !important;
     margin: 4px;
     padding: 3px 2px 4px 2px;
     cursor: pointer;
}