/* Icon Colors - green, red, yellow, grey */
.green {
    padding:2px;
    background: linear-gradient( 55deg, #08b976, #88e477 ); 
    opacity: .8;
    box-shadow: 0px 2px 5px rgba(50,50,50, .2);
}

.red {
    padding:2px;
    background: linear-gradient(55deg,#f06f6d,#ee8e8c85);
    box-shadow: 0px 2px 5px rgba(50,50,50, .2);
}
.yellow {
    padding:2px;
    background: linear-gradient(55deg,#FFC107,#ff980057);
    box-shadow: 0px 2px 5px rgba(50,50,50, .2);
}

.grey {
    padding:2px;
    background: linear-gradient(55deg,rgb(147, 144, 144),rgba(99,99,99,.4));
    box-shadow: 0px 2px 5px rgba(50,50,50, .2);
}


.trend-item {
    height: 6vh;
    /* min-height:50px; */
    display: flex;
    align-items: center;
    font-size:15px;
    font-weight: 200;
    line-height: 1.6; 
}

.trend-item:hover {
    background-color: #f3f2f2; 
}

.item-with-subtext {
    font-size:15px;
    font-weight: 200;
    line-height: 1.2; 
}
.item-with-subtext span{
    font-size:12px;
}



.trend-item-value {
    font-weight: 400;
}

.title {
    text-align:center;
    padding: 10px;
    min-height:50px;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    font-size: 1.1rem;
    font-weight: 300;    
    color: rgb(8, 7, 7);

}