.THIS {
}
.THIS .yellow {
  background-color: gold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}

.THIS .orange {
  background-color: darkorange;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}
.THIS .myButton {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}