.THIS .FilterClass
{
    	font-size:13px !important;
        color:#005fb2 !important;
        font-weight:500 !important; 
}
.THIS .pointer
{
    cursor: pointer; 
}

.THIS .notallowed
{
    cursor: not-allowed;
}
.THIS td
{		max-width: 150px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
        font-size:12px; 
			
}
.THIS th{ 
        font-size:13px !important;
        color:#005fb2 !important;
        font-weight:500 !important;    
    	}

.THIS tbody {
  display: block;
 max-height: 230px;
  overflow-y: scroll;

}

.THIS thead,
.THIS tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.THIS .slds-accordion__summary
{
    background-image: linear-gradient(to right, #035b79,#2ebfea); 
    color:white;
    padding-top: 8px;
    padding-bottom:8px;
}
.THIS .slds-button:hover, .THIS .slds-button:focus
{
    color:white;
}
.THIS .slds-icon-text-default
{
    fill:white;
}
/*Making checkbox values appear in a single row*/
.THIS .slds-checkbox {
    display: inline !important;
}