li.ba {
    list-style-type: none;
}

.sideNavDiv
{
    padding-left: 0;
}

.crunchRightPadding
{
    padding-right: 5px;
}

.caseUpdateDiv
{
    padding-left: 0;
}

.bulkCloseCaseTable th, td {
    padding: 3px;
    border: 1px solid dimgrey;
  }

.bulkCloseCaseTable tr:nth-child(even) {
    background-color: #eee;
  }
 
.bulkCloseCaseTable tr:nth-child(odd) {
   background-color: #fff;
  }

.sidenav {
    /*
    width: 0;
    position: fixed;
    padding-top: 10px;
    transition: 0.5s;
    */
    height: 100%;
    z-index: 2 !important;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    border-radius : 4px;
}

.caseUpdateNav
{
    /*
    width: 0;
    position: fixed;
    padding-top: 10px;
    transition: 0.5s;
    */
    height: 100%;
    z-index: 2 !important;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    border-radius: 4px;
}

 .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.cardborder
{
    border : 1px solid #1589ee;
}

.highlightCaseRow
{
    background-color: #b0aeae;
}

.numberCircle 
{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #faf;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

.display-horizontal{
    display: flex;
    flex-direction: row;
}
.globalSearchButton{
    min-width: min-content;
}