.THIS.uiInpput {
    line-height: 1.875rem;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}
.THIS.headerBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    font-size: 13px;
    height: 42px;
    text-align: center;
    color: #686c70;
    z-index: 1;
}
.THIS.panel-header {
    display: flex;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    transform: translate3d(0, 0, 0);
    top: 0;
    left: 0;
    z-index: 1;
    background: rgb(253, 253, 253);
    flex-shrink: 0;
    position: relative;
    border-radius: 0;
    border-bottom: 2px solid rgb(216, 221, 230);
    padding: 1rem;
    text-align: center;
}
@media screen and (min-width: 768px)
{
  .THIS.rwd-break { display: none; }
}