.THIS .custom-size{
    width: 47em;
    }

.THIS .maximize-composer{    
    width:90vw;
    height:95vh !important;    
}

.THIS .Winter18BgFix{
    background: #fff;
}

.THIS .wordwrap{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}

.THIS .slds-docked-composer.slds-is-open {
    height: fit-content;
}