.THIS {
}


.THIS .sectionHeading{
    font-size: 0.9rem;
    font-weight: bold;
}

.THIS .status-indicator-badge{
    background-color: #ef5664;
    color: white;
}

.THIS .toggle{
    display: none;
}