.trend-item {
    font-size:15px;
    font-weight: 200;
    line-height: 1; 
}

.trend-item-label {
    font-weight: 200;
}

.trend-item-value {
    font-weight: 400;
}

.title {
    font-size:14px;
    font-weight:500;
    /* font-style: italic;
    color: #08b976; */
}

.card {
    background: white;
}