.refreshIcon{
    cursor: pointer;
}

.sectionHeading{
     font-size: 1.3rem;
     font-weight: bold;
     color: rgb(8, 7, 7);
 }

 .myDiv {
    text-align: center;
 }

 .styleComment{
    top:-1rem !important;
 }