.error-msg {
    background-color: rgb(234, 78, 78);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 78, 78);
    border-image: initial;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
    
}

.item:hover {
    background-color: rgb(234, 78, 78) !important;
    color:whitesmoke;
}

.invalid-inp {
    color: #c23934;
    line-height: 22px;
}

.inactive {
    max-height: 0 !important;
    /* width: 0; */
    padding: 0;
    margin: 0;
    border: 0;
    transition: all 0.25s linear;
}

.active {
    max-height:400px !important;
    transition: all 0.25s linear;
}

.allitems:hover {
    background-color: #c6dbf5;
    cursor: pointer;
}

.allitems {
    display: flex;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-left: 20px;
}

.allitemslabel {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.pill {
    margin-left: 3px;
    color: #4e4747;
    --sds-c-pill-radius-border: 1rem;
}
.pillicon {
    --sds-c-icon-radius-border: 1rem;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 5px;
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
    /* background-color: #f3f2f2; */
    background-color: #fafaf9;
}

.list-header {
    display: flex;
    min-height:35px; 
    max-height:70px; 
    overflow-y: auto;
    align-items: flex-start;
    line-height: 30px;
    /* height: 35px; */
    border-bottom: 1px solid #dddbda;
    padding-top: 5px;

}