.THIS .fade-out {
    
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 1;
}

.THIS .slds-media--timeline-remove::before {
    
    width: 0px;
    
}
.THIS.timeline
{
    padding:5px;
    z-index: 1;
}
.THIS .EmailChainHeight{
    height: 250px;
    overflow: scroll;
-webkit-box-shadow: 7px 9px 18px -8px rgba(135,130,135,0.71);
-moz-box-shadow: 7px 9px 18px -8px rgba(135,130,135,0.71);
box-shadow: 7px 9px 18px -8px rgba(135,130,135,0.71);
}

.THIS ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.THIS .wordwrap{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}