/*.THIS *{
    overflow-y: hidden;
}

.THIS html{
    overflow-y: hidden;
}*/
.THIS input {
    width: 100%;
    padding: 8px;
    -webkit-appearance: none;
    border: solid 1px #dddddd;
  

}
.THIS.forceHeaderLayout {
    position: relative;
    width: 100%;
    height: 2.75rem;
    text-align: center;
    z-index: 10000;
}

.THIS .uiBlock {
    overflow: hidden;
    vertical-align: top;
}

.THIS.scrollerSize {
    height: 100%;
}