.THIS .sr_link{
    font-size:1rem;
    float:right;
    padding-top:1rem;
}

.THIS .sr-header{
     color:rgb(112, 110, 107);
     font-size:1.75rem;
     text-transform: uppercase;
     font-weight: 300;

}