/*Customer Community Component*/
.THIS #sfdc_username_container{
    margin-bottom:10px;
    padding: 12px;
    background-color:black;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left:2px;
}
.THIS .loginButton {
    background:#F79D49 ; 
    border-color:#F79D49;
}
.THIS .luna-button {
    background:#F79D49 ; 
    border-color:#F79D49;
}
.THIS .loginButton:hover {
    background:#F79D49; 
    border-color:#F79D49;
}
.THIS .luna-button:hover {
    background:#F79D49; 
    border-color:#F79D49;
}

.THIS .sfdc_usernameinput{
    color:black;
}
.THIS .sfdc_passwordinput{
    color:black;
}

.THIS .login-option {
    margin-left:15%;
}
.THIS #sfdc_user{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;

}


.THIS #sfdc_lock{
    float:left;
    width:23px;
    height:25px;
    padding-top:1px;
    padding-left:2px;
    margin:0px;
}

.THIS  #error {
    text-align: center;
    color:#FF0000;
}

.THIS  .login-icon {
    color:black;font-size:22px;
}

.THIS #sfdc_password_container{
    padding: 12px;
   	background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.THIS  button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #F79D49;
    border-color: #F79D49;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS  button:hover {
    background-color:#3276b1;
    border-color:#285e8e;
    cursor:pointer;
}

.THIS button .label {
    color: #fff;	
}

.THIS  input {
    border: 0px solid transparent;
    width: 70%;
    -webkit-appearance: none;
    font-size: 14px;
}


.THIS  a {
    color:Black;
    text-decoration: none;
}
.THIS  a:hover {
    color:#0099cc;
    text-decoration: none;
}

.THIS label.uiLabel-hidden {
    display:none;
}

.THIS .changeCenterPanel {
    text-align: left;
    min-width: 280px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline-block;
    position: relative;
    font-family: Lato;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    vertical-align: middle;
    z-index: 0;
    max-width: 75% !important;
}
/*.THIS.main-article{
    width: 60rem;
    margin-left: -20rem;
    padding-left: 11rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
    border-width: 0px;
    color: rgb(0, 41, 102);
    background-color: transparent !important;
    
}*/
.THIS.main-article {
    /* width: 60rem; */
    margin-left: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
    border-width: 0;
    color: rgb(0, 41, 102);
    background-color: transparent!important;
}
/*.THIS.main-article-guest-login{
    width: 62rem;
    margin-left: -20rem;
    padding-left: 11rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    border-width: 0px;
    background-color: transparent !important;
    color: rgb(0, 41, 102);
    
}*/
.THIS.main-article-guest-login {
    /* width: 60rem; */
    margin-left: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-width: 0;
    color: rgb(0, 41, 102);
    background-color: transparent!important;
}
.THIS div.login-link{
    width: 18rem !important; 
    color: rgb(0, 41, 102);
    /*color: white;*/
    cursor:pointer;
}
.THIS a.anchor{
    color: #f8f8ff;
}
.THIS div.login-link:hover {
    color:#0297d7;
    /*color:rgb(255, 91, 167);*/
    /*color:#FEF9E7;*/
    text-decoration: underline !important;
}

.THIS .frgt-password{
    color:#AAACB1; 
}

.THIS .frgt-password:hover{
     color:#FFFFFF !important;
    text-decoration: underline !important;
}

.THIS div.article-header{
    text-align: center;
}
.THIS div.article-body{
    text-align: justify;
}
/*@media only screen and (max-width: 720px){
    .THIS.main-article{
        width: 105% !important;
    	margin-left: -130px !important;
    }
}*/
@media only screen and (max-width: 1024px){
    .THIS.main-article{
        width: 105% !important;
    	margin-left: -13% !important;
    }
}
@media only screen and (max-width: 420px){
    .THIS.main-article{
        width: 311px !important;
    	margin-left: -100px !important;
    }
}
@media only screen and (max-width: 1024px){
    .THIS.main-article-guest-login{
        width: 105% !important;
    	margin-left: -13% !important;
    }
}
@media only screen and (max-width: 420px){
    .THIS.main-article-guest-login{
        width: 311px !important;
    	margin-left: -100px !important;
    }
}
@media only screen and (max-width: 420px){
    .THIS.cCustomLoginForm{
        width: 180% !important;
        margin-left: -50% !important;
        margin-top: 25% !important;
    }
}