.Red {
  color: red;
  display: inline-block;
}

.Green {
  color: #0d8c15;
  display: inline-block;
}

.Yellow {
  color: #f5a623;
  display: inline-block;
}

.comments:hover {
    background-color: rgb(244, 246, 249);
}
ul.commentslist > li:first-child > div {
    padding-top: 0px;
}

.user-icon {
  padding: 2px;
  margin-left: 25px;
  border: 2px solid #fff;
  border-radius: 2px;

}