.bottom-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    /* line-height: 22px; */
    /* or 122% */
    /* letter-spacing: 0.2px; */
    /* black*/
    color: #000000;
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: 20px; 
    padding-right: 20px;
}

.custom-btn{
    width: 305px;
    height:52.88px;
    left: 5.62%;
    right: 81.59%;
    top: 19.52%;
    bottom: 78.12%;
    color: #000000;
    border: 1px solid #017AC6;
    box-sizing: border-box;
    background: #F9FBFC !important;
    margin-top: 10px;
}

.left {
    float: left;
    width: 152.5px;
    margin-right: 5px;
}

.chat-body {
    left: 5.8%;
    right: 5.8%;
    top: 8.93%;
    bottom: 66.07%;
    /* Body 1 - regular 16 (22, 0.3px) */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 122% */
    letter-spacing: 0.2px;
    /* black*/
    color: #000000;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.clear {
    clear: both;
}

.form-label{
    position: relative;
    left: 0%;
    right: 0%;
    top: -1.59%;
    bottom: 76.19%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* or 167% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #262A2E;
    width:100%;
}

.form {
    clear: both;
    margin-left: 17px;
}

.msg {
    float: right;
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    margin: 0px;
    margin-right: 25px;
}

.countryText {
    float: left;
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    margin: 0px;
    margin-right: 25px;
    color: #d0343a;
}