@font-face {
    font-family: 'OpenSans-Light'; 
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Ubuntu-Light'; 
    src: url('../fonts/Ubuntu-Light.ttf');
}
@font-face {
    font-family: 'Ubuntu-Medium'; 
    src: url('../fonts/Ubuntu-Medium.ttf');
}
@font-face {
    font-family: 'Ubuntu'; 
    src: url('../fonts/Ubuntu-Regular.ttf');
}

body {
  background-color: #ffffff !important;
}

/* File subscription icons */


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?');
  src:  url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg?#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 36px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail-cancel:before {
  content: "\e901";
    color : green;

}
.icon-mail-add:before {
  content: "\e900";
    color : #707070;

}
.icon-mail-cancel:hover:before{
  cursor: pointer;
}
.icon-mail-add:hover:before{
  cursor: pointer;
}




/*
Custom Akamai Logo font built using fontcustom
*/

@font-face {
  font-family: "akamailogofont";
  src: url("../fonts/akamailogofont.eot");
  src: url("../fonts/akamailogofont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/akamailogofont.woff") format("woff"),
       url("../fonts/akamailogofont.ttf") format("truetype"),
       url("../fonts/akamailogofont.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "akamailogofont";
    src: url("../fonts/akamailogofont.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-akamai-logo:before {
  display: inline-block;
  font-family: "akamailogofont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-akamai-logo:before { content: "\f100"; }


.top-menu-bar{
    height: 71px;
    background: #2B2928;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.10), inset 0px -4px 0px 0px rgba(0,0,0,0.45);
}
a
{
    color: #707070;
    text-decoration:none;
}

.akamai-top-menu-logo{
    padding-top: 11px;
}
.title-blue-bg{
    background-image: url('../images/experience-title-background.jpg');
    background-repeat: repeat-y; /* for vertical repeat */
    background-repeat: repeat-x; /* for horizontal repeat */
    background-size: Auto 305px;
}
.title-blue{
    font-family: 'Ubuntu'; 
    font-size: 37px; 
    color: #FFFFFF; 
    line-height: 42px;
    padding-left: 107px;
    padding-top: 45px;
    padding-bottom: 45px;

}
.page-description{
    font-family: 'Ubuntu'; 
    font-size: 24px;
    color: #FFFFFF; 
    line-height: 28px;
    padding-right: 57px;
    padding-top:51px;
    padding-bottom:53px;
    text-align:right;
}
.content-cover{
    margin-left:29px;
}
.black-sidemenu{
    font-family: 'Ubuntu'; 
    font-size: 18px; 
    color: #FFFFFF; 
    
    line-height: 21px;
    margin-left: 51px;
    background: #2B2928;
    box-shadow: 8px 7px 0px 0px rgba(0,0,0,0.10), inset 0px 2px 0px 0px #494949; border-radius: 4px;
    overflow:auto;
    padding-left: 15px;
    
    padding-top: 10px;
    width: 280px;
    padding-bottom: 20px;
    margin-bottom: 25px;


}

.black-sidemenu-item{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    padding-left: 10px;
}
.black-sidemenu-item:hover{
    background: #FF9933;
    color: #FFF;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.10); border-radius: 2px;
    text-decoration: none;
}
.white-sidemenu{
    font-family: 'Ubuntu'; 
    font-size: 18px; 
    color: #000; 
    line-height: 21px;
    margin-left: 51px;
    overflow:auto;
    padding-left: 15px;
    padding-bottom: 40px;
    padding-top: 10px;
    width: 280px;
    margin-bottom: 50px;

}

.white-sidemenu-item{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    color: #000;
    padding-left: 10px;
}
.white-sidemenu-item:hover{
    color: #FF9933;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.10); border-radius: 2px;
    text-decoration: none;
}
.right-tabbed{
    background: #F4F4F4;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.10), inset 0px 2px 0px 0px #FFFFFF; border-radius: 0px 4px 4px 4px;
}
#content-tabs li{
    height: 51px;
    width: auto;
    min-width: 100px;
    margin-right: 3px;
    background: #E4E4E4;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.10), inset 0px 2px 0px 0px #FFFFFF; border-radius: 4px 4px 0px 0px;
}
#content-tabs li a{
    font-family:'Ubuntu-Light';
    font-size: 16px; 
    color: #ABABAB; 
    padding: 10px 15px;
    text-align: center;
}
#content-tabs li.active, #content-tabs li.active a, #content-tabs li.active a:hover{
    background: #F4F4F4;
    color: #FF9933;
    border-radius: 4px 4px 0px 0px;


}
.no-left-padding{
    padding-left:0px;
}
    
#l2tabs li{
    height: 76px;
    background: #F4F4F4;
    padding-left:45px;
    padding-top:31px;

}
#l2tabs {
    margin-bottom: 31px;
    border-bottom: 1px solid #ddd;
    font-family:'Ubuntu-Light';
}
.inner-content{
    padding-left:41px;
    padding-right:41px;
    padding-top:19px;
    padding-bottom:20px;
    font-family: 'Ubuntu'; font-size: 16px; color: #707070; line-height: 24px;
}
.nav{ 
    border: none;
}
h3{
    font-family: 'Ubuntu'; 
    font-size: 20px; 
    color: #ABABAB; 
    line-height: 24px;
    margin-bottom:25px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
    border:none;
    background-color:inherit;
    text-decoration:none;
    color:#FF9933;
}
#l2tabs>a
{
    font-family: 'Ubuntu'; 
    font-size: 14px;
    color: #707070;
    line-height: 24px;
}




.sidemenu{
    margin-right:39px;
}
#magic-banner{
    height: 269px;
    background: #000;
    box-shadow: 0px 10px 9px 0px rgba(0,0,0,0.50);
    display:none;
    clear:both;
    padding: 30px 40px 5px 20px;
}

.slideup, .slidedown {
            max-height: 0;            
            -webkit-transition: max-height 0.5s ease-in-out;
            -moz-transition: max-height 0.5s ease-in-out;
            -o-transition: max-height 0.5s ease-in-out;
            transition: max-height 0.5s ease-in-out;
}
.slidedown {            
    max-height: 330px ;                    
}    
.banner-heading{
    font-family: 'Ubuntu';
    font-size: 30px;
    color: #FFFFFF;
    line-height: 20px;
}
.banner-side-heading{
    font-family: 'Ubuntu';
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    text-align:right;
}
.banner-image-div{
    width: 140px;
    height: 140px;
    margin-left:10px;
    margin-top:10px;
    padding-top:15px;
    padding-bottom:15px;
    text-align: center;
    color: #C3C3C3;
}
.banner-image-div:hover{
    background: #0099CC; border-radius: 8px;
}

.banner-image{
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size: 60px;

    margin-bottom: 20px;
}
.banner-image-text{
    text-align: center;
}
.container-non-responsive {
    /* Margin/padding copied from Bootstrap */
    margin-left: auto;
    margin-right: auto;

    /* Set width to your desired site width */
    width: 1370px;
}

.banner-row{
    padding: 30px 30px;
    font-family: 'OpenSans-Light'; 
    font-size: 13px;
    color: #FFFFFF;
    line-height: 20px;
}


.error-container{
    position: absolute;
    top: 50%;
    left: 50%;
    color: red;
    font-size:14px;
    font-family: 'Ubuntu';
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.active-main-menu-item{
    background-color: #999999;
}
.content-without-detail-menu{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left:25px;
    padding-right: 25px;
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}
.detail-menu-nav-items>a
{
    font-family: 'Ubuntu';
    font-size: 14px;
    color: #707070;
    line-height: 24px;
}
.detail-menu-nav-items li{
    height: 76px;
    background: #F4F4F4;
    padding-left:45px;
    padding-top:31px;

}
.detail-menu-nav-items {
    margin-bottom: 31px;
    border-bottom: 1px solid #ddd;
    font-family:'Ubuntu-Light';
    height: 80px;
}
.files-tiles-display-outer-div{
    padding-top:35px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 15px;
    display: inline-block;
    width: 230px;
    vertical-align:top;

    text-align:center;
}
.files-tiles-caption-text{
    text-align: center;
    font-size: 11px;
    display:block;
    font-family: 'Ubuntu-Light';
}

.files-tiles-display-outer-div>img{
    margin-left:10px;
    margin-right:10px;
}
.no-access{
    opacity:0.3;
    cursor:not-allowed;
}
.top-menu-bar{
    height: 71px;
    background: #2B2928;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.10), inset 0px -4px 0px 0px rgba(0,0,0,0.45);
}

.partner-portal-top {
    font-family: 'Ubuntu';
    font-size: 18px;
    color: #FFFFFF;
    line-height: 21px;
    padding-top: 25px;
    padding-bottom: 25px;
}


.dropdown-top{

    font-family: 'Ubuntu-Light';
    font-size: 15px;
    color: #FFFFFF;
    background-color: #2B2928;
    border-color: #2B2928;
    line-height: 17px;
    padding-top: 27px;
    padding-bottom: 21px;
    text-align: center;
}

.dropdown-menu,.dropdown-menu>li>a {
    font-family: 'Ubuntu-Light';
    font-size: 15px;
    color: #FFFFFF;
    background-color: #2B2928;

}
.dropdown-menu>li>a:hover{

}

.top-hello{
    position: relative; z-index: 597; float: right;

}

.footer-class{
    height: 70px;
    background: #EBEBEB;
    position: relative;

}

.footer-quick-links{
    padding-left: 319px;
    position: absolute;
    top: 11px;
}

.footer-text{

    font-family: Ubuntu;
    font-size: 14px;
    color: #686868;
    line-height: 46px;
    padding-right: 20px;
    text-align: center;
}

.footer-need-help{

    padding-left: 200px;
}
.kontent-container{
    margin-bottom: 35px;
}


.files-icons-display-outer-div
{
  width: 250px;
  height: 130px;
  float: left;
  margin-right: 15px;
  padding-top: 30px;
}
.files-icons-image-div
{
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 999px;
  margin-right: 10px;
  background-color: #FF9933;


  line-height: 83px;
  text-align: center;
}

hr{
  border-top: 1px solid grey !important;
}

.file-icons-font-awesome
{
  font-size: 32px;
  color: #FFFFFF;
  line-height: 75px;
  margin-left: 5px;

}

.files-list-display-outer-div
{
  display: block;
  clear: left;
  padding-top: 20px;
}
.file-list-font-awesome
{
  font-size:23px;
  color: #0099CC;
}
.files-list-image-div
{
  float: left;
  width: 60px;
  text-align: center;
  line-height: 35px;
}
.files-list-title
{
  float: left;
  min-width: 270px;
  font-size: 15px;
}
.files-list-attributes
{
  float: left;
  margin-left: 40px;
  width: 100px;
  font-size: 12px;
  line-height: 30px;
}
.files-icons-caption-text
{
  margin-left: 100px;
  margin-top: 10px;

}
.files-icons-attributes
{
  font-size: 13px;
}
.files-icons-title
{
  font-size: 16px;
}
.right-tabbed
{
  padding-bottom: 50px;
}
.content-without-detail-menu
{
  padding-bottom: 0px;
}
.alert-div-customized
{
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #e74c3c;
  color: #ffffff;
  font-family: 'Ubuntu';

}
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

.filter-dropdown {
        background-color: #2B2928;
        color: white;
        font-size: 14px;
        height: 40px;
        border-radius: 5px;
        width: 120px;
    }

    .dropdown-menu>li>a:hover{
    background: #FF9933;
    color: #FFF;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.10); border-radius: 2px;
    text-decoration: none;
}

        .no-files-div
        {
            margin-top:20px;
            background-color: #ddd;
        }
        .detail-menu-nav-items li
        {
            background:none;
            border-bottom: 1px solid #ddd;
            /*margin-bottom: 31px;*/
        }
        .files-list-title
        {
            width:450px;
            float:left;
        }
        .files-list-attributes
        {
            width:175px;
            float:left;
        }
        .detail-menu-nav-items
        {
            border: none;
            margin-bottom: 0px;
        }
        .content-or-no-file-message
        {
            clear: both;
            padding-top: 30px;
        }
        .files-icons-display-outer-div
        {
            margin-bottom: 30px;
        }