.subjectClass:hover .slds-popover 
{
    visibility: visible;
}
  
.subjectClass .slds-popover
{
    visibility: hidden;
}

.severityClass:hover .slds-popover 
{
    visibility: visible;
}
  
.severityClass .slds-popover
{
    visibility: hidden;
}

.ownerClass:hover .slds-popover 
{
    visibility: visible;
}
  
.ownerClass .slds-popover
{
    visibility: hidden;
}

.accountClass:hover .slds-popover 
{
    visibility: visible;
}
  
.accountClass .slds-popover
{
    visibility: hidden;
}

.statusClass:hover .slds-popover 
{
    visibility: visible;
}
  
.statusClass .slds-popover
{
    visibility: hidden;
}