/*toggleCss.css*/
.THIS.toggle 
{
    height: 0px !important;
    overflow: hidden !important;
    /*height: auto !important;
    overflow: none !important;*/
}
.THIS.showSec 
{
    /*height: 0px;
    overflow: hidden;*/
    height: auto !important;
    overflow: none !important;
}