.slds-modal__container {
    top : 3rem;
    max-width : 46.5rem;
    width: 46.5rem;
}

@font-face {
    
    font-family: "customSalesforceFont";
    src: url('/resource/salesforcesansfont/Salesforcesans.woff') format('TrueType');
 }

.salesforcefontfam {
    font-family: 'customSalesforceFont';
}

.slds-table_cell-buffer tr>th:first-child, .slds-table_cell-buffer tr>td:first-child, .slds-table--cell-buffer tr>th:first-child, .slds-table--cell-buffer tr>td:first-child {
    padding-left: 0.75rem;
}

.aroundpadding {
    padding: 1.25rem;
}
.legendsclass {
    display: inline;
    color: #EA001E;
}

.innerlg {
    font-size: 7px;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
    border-color: #EA001E;
}

.badgespan {
    color: #EA001E;
}

.strikethrough {
    position: relative;
  }

.strikethrough:before {
position: absolute;
content: "";
left: 0;
top: 50%;
right: 0;
border-top: 1px solid;
border-color: inherit;

-webkit-transform:rotate(-30deg);
-moz-transform:rotate(-30deg);
-ms-transform:rotate(-30deg);
-o-transform:rotate(-30deg);
transform:rotate(-23deg);
}

.slds-input:focus, .slds-input:active {
    border: orange;
}