/*.THIS *{
    overflow-y: hidden;
}

.THIS html{
    overflow-y: hidden;
}*/

.THIS body{
    height:80vh;
}
.THIS.my-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.THIS.my-content {
    position:relative;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
}

.THIS.my-body {
    position:absolute;
    width: 100%;
    height: 100%;
}
.THIS input {
    width: 100%;
    padding: 8px;
    -webkit-appearance: none;
    border: solid 1px #dddddd;
  

}
.THIS .sWrapTest {
    height:100%;
    width:100%;
}
.THIS .loadingButton {
margin-left : 30%;

}


.THIS.forceHeaderLayout{
    position:relative;
    margin-top:30px;
    width: 100%;
    height: 2.75rem;
    text-align: center;
    z-index: 10001;
}

.THIS .hideButton {
    display: none;
}

.THIS.scrollerSize {
    height: 100%;
}