.THIS .slds-button+.slds-button{
    margin-left: 0rem;
}

.THIS .slds-button_success[disabled]:hover{
border-color: rgb(221, 219, 218);
color: rgb(221, 219, 218);
background-color: rgb(255, 255, 255);
}
.THIS .slds-button_success[disabled]{
border-color: rgb(221, 219, 218);
}

.THIS .slds-button_destructive[disabled]:hover{
border-color: rgb(221, 219, 218);
color: rgb(221, 219, 218);
background-color: rgb(255, 255, 255);
}
.THIS .slds-button_destructive[disabled]{
border-color: rgb(221, 219, 218);
}
.THIS .hideModal {
    display: none;
}

.THIS .removeBackDrop{
    opacity: 0;
}