.THIS.loadMore {
    width : 100%;
    margin-top :1%;
    margin-bottom : 2%;
}

.THIS .sWrapTest {
    height:100px;
    width:100px;
}

.THIS .loadingButton {
margin-left : 30%;

}

.THIS.sortFooter{
    top: -1vh;
    float: right;
    width: 10%;
    z-index: 22;
}


.THIS.sectionContainer{
    height:81vh;
    overflow-y: scroll;
}