.outbound-message {
    background-color: #002856;
}
.align-right {
    text-align: right;
}

.blue {
    background-color: #002856 !important; 
    color: rgb(255, 255, 255) !important;
}

.grey {
    background-color: rgb(242, 242, 243) !important; 
    color: rgba(0, 0, 0, 0.8) !important;
}

.grey a, .grey a:active, .grey a:focus {
    color: rgba(0, 0, 0, 0.8) !important;
}

.blue a, .blue a:active, .blue a:focus {
    color: rgb(255, 255, 255) !important;
}


.highlight {
    border: 3px solid orange; 
    border-radius:0.5rem 0.5rem 0.5rem 0;
}