.THIS .btnCls {
background-color: rgb(75, 202, 129);
    border-color: rgb(75, 202, 129);
    color: rgb(62, 62, 60);
}

.THIS .slds-button_brand:hover .slds-button_brand:focus .slds-button--brand:hover .slds-button--brand:focus {
	background-color: rgb(4, 132, 75);
    border-color: rgb(4, 132, 75);
    color: rgb(255, 255, 255);
}